@* This view is responsible for rendering an item of unknown content type in tiles view *@
@using SmithsonianSearch.Configuration
@using SmithsonianSearch.Helpers
@model SmithsonianSearch.Models.ResultItems.GenericResultItem

@{
    var imageAlt = HttpUtility.UrlDecode(string.IsNullOrEmpty(Model.Title) ? "Link" : Model.Title);
    var imageSrc = string.IsNullOrEmpty(Model.ImageUrl) ? Url.Content("~/img/no_image.png") : Model.ImageUrl;
}

<li class="card album-card col-xs-6 col-sm-2 search-result">
    <div class="image">
        <a class="imageLink" href="@Model.Url"><img src="@imageSrc" alt="@imageAlt" /></a>
    </div>
    <div class="details">
        <div class="details">
            <a href="@Model.Url" title="@Model.Title">@Html.Raw(Model.Title.Truncate(Config.Instance.ItemTitleMaxLength))</a>
        </div>
    </div>
</li>