@* This view is responsible for rendering filters *@
@using SmithsonianSearch.Helpers
@using SmithsonianSearch.Models
@model SearchModel

@{
    var cssClass_1_5 = "first-5-options";
    var cssClass_6_20 = "from-6-to-20-options";
    var cssClass_21_40 = "from-21-to-40-options";

    // Expected filters categories: [name in lower case] - [path to title image]. Add a new entry in case of a new category.
    var filterImages = new Dictionary<string, string>()
                            {
                                { "artist", "~/img/label_artist.png" },
                                { "country", "~/img/label_country.png" },
                                { "culture", "~/img/label_culture.png" },
                                { "decade", "~/img/label_decade.png" },
                                { "format", "~/img/label_format.png" },
                                { "genre", "~/img/label_genre.png" },
                                { "gradelevel", "~/img/label_gradelevel.png" },
                                { "instrument", "~/img/label_instrument.png" },
                                { "label", "~/img/label_label.png" },
                                { "language", "~/img/label_language.png" },
                                { "share", "~/img/label_share.png" }
                            };
}


@if (!string.IsNullOrEmpty(Model.Query))
{
    <!-- BROWSE -->
    <div id="browse" style="display: none">
        <h3 class="text-hide">Browse by</h3>
        <!-- BY GENRE -->
        <div class="dropselectgenre border">
	        <select id="ddl" runat="server" onchange="javascript:document.location.href = this.value;">
	            <option value="">Select</option>
	            <option value=""></option>
                <option value="/search?query=African%20American%20Music">African American Music</option>
                <option value="/search?query=African%20American%20Spoken">African American Spoken</option>
                <option value="/search?query=American%20Folk">American Folk</option>
                <option value="/search?query=American%20History">American History</option>
                <option value="/search?query=American%20Indian">American Indian</option>
                <option value="/search?query=American%20Popular">American Popular</option>
                <option value="/search?query=Bluegrass">Bluegrass</option>
                <option value="/search?query=Blues">Blues</option>
                <option value="/search?query=Cajun">Cajun</option>
                <option value="/search?query=Caribbean">Caribbean</option>
                <option value="/search?query=Celtic">Celtic</option>
                <option value="/search?query=Central%20Asia">Central Asia</option>
                <option value="/search?query=Children's">Children's</option>
                <option value="/search?query=Classical">Classical</option>
                <option value="/search?query=Contemporary">Contemporary &amp; Electronic</option>
                <option value="/search?query=Country">Country</option>
                <option value="/search?query=Documentary">Documentary</option>
                <option value="/search?query=Drama">Drama</option>
                <option value="/search?query=Gospel">Gospel</option>
                <option value="/search?query=Hawai'i">Hawai'i</option>
                <option value="/search?query=Historical%20Song">Historical Song</option>
                <option value="/search?query=Holiday">Holiday</option>
                <option value="/search?query=Humor">Humor</option>
                <option value="/search?query=India">India</option>
                <option value="/search?query=Islamica">Islamica</option>
                <option value="/search?query=Jazz">Jazz &amp; Ragtime</option>
                <option value="/search?query=Judaica">Judaica</option>
                <option value="/search?query=Language%20Instruction">Language Instruction</option>
                <option value="/search?query=Latin">Latin</option>
                <option value="/search?query=Miscellany">Miscellany</option>
                <option value="/search?query=Music%20Instruction">Music Instruction</option>
                <option value="/search?query=Old%20Time">Old Time</option>
                <option value="/search?query=Oral%20History">Oral History &amp; Biography</option>
                <option value="/search?query=Poetry">Poetry</option>
                <option value="/search?query=Prose">Prose</option>
                <option value="/search?query=Psychology">Psychology &amp; Health</option>
                <option value="/search?query=Sacred">Sacred</option>
                <option value="/search?query=Science">Science &amp; Nature</option>
                <option value="/search?query=Sounds">Sounds</option>
                <option value="/search?query=Soundtracks">Soundtracks &amp; Musicals</option>
                <option value="/search?query=Spoken%20Word">Spoken Word</option>
                <option value="/search?query=Struggle">Struggle &amp; Protest</option>
                <option value="/search?query=World">World</option>
                <option value="/search?query=World%20History">World History</option>
	        </select>
        </div>
        <!-- BY COUNTRY -->
        <!-- BROWSE BY GEO -->
        <div id="browse-by-geo" class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/">Geography<span class="caret"></span> </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu">
                    <a href="/search?query=Africa" tabindex="-1">Africa</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="/search?query=Eastern%20Africa">Eastern Africa</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Burundi">Burundi</a></li>
                                <li><a href="/search?query=Comoros">Comoros</a></li>
                                <li><a href="/search?query=Djibouti">Djibouti</a></li>
                                <li><a href="/search?query=Eritrea">Eritrea</a></li>
                                <li><a href="/search?query=Ethiopia">Ethiopia</a></li>
                                <li><a href="/search?query=Kenya">Kenya</a></li>
                                <li><a href="/search?query=Madagascar">Madagascar</a></li>
                                <li><a href="/search?query=Malawi">Malawi</a></li>
                                <li><a href="/search?query=Mauritius">Mauritius</a></li>
                                <li><a href="/search?query=Mayotte">Mayotte</a></li>
                                <li><a href="/search?query=Mozambique">Mozambique</a></li>
                                <li><a href="/search?query=Reunion">Reunion</a></li>
                                <li><a href="/search?query=Rwanda">Rwanda</a></li>
                                <li><a href="/search?query=Seychelles">Seychelles</a></li>
                                <li><a href="/search?query=Somalia">Somalia</a></li>
                                <li><a href="/search?query=Tanzania">Tanzania</a></li>
                                <li><a href="/search?query=Uganda">Uganda</a></li>
                                <li><a href="/search?query=Zambia">Zambia</a></li>
                                <li><a href="/search?query=Zimbabwe">Zimbabwe</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Middle%20Africa">Middle Africa</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Burundi">Burundi</a></li>
                                <li><a href="/search?query=Angola">Angola</a></li>
                                <li><a href="/search?query=Cameroon">Cameroon</a></li>
                                <li><a href="/search?query=Central African Republic">Central African Republic</a></li>
                                <li><a href="/search?query=Chad">Chad</a></li>
                                <li><a href="/search?query=Congo (Brazzaville)">Congo (Brazzaville)</a></li>
                                <li><a href="/search?query=Congo (Democratic Republic)">Congo (Democratic Republic)</a></li>
                                <li><a href="/search?query=Equatorial Guinea">Equatorial Guinea</a></li>
                                <li><a href="/search?query=Gabon">Gabon</a></li>
                                <li><a href="/search?query=Sao Tome and Principe">Sao Tome and Principe</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Northern%20Africa">Northern Africa</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Burundi">Burundi</a></li>
                                <li><a href="/search?query=Algeria">Algeria</a></li>
                                <li><a href="/search?query=Egypt">Egypt</a></li>
                                <li><a href="/search?query=Libya">Libya</a></li>
                                <li><a href="/search?query=Morocco">Morocco</a></li>
                                <li><a href="/search?query=Sudan">Sudan</a></li>
                                <li><a href="/search?query=Tunisia">Tunisia</a></li>
                                <li><a href="/search?query=Western Sahara">Western Sahara</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Southern%20Africa">Southern Africa</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Botswana">Botswana</a></li>
                                <li><a href="/search?query=Lesotho">Lesotho</a></li>
                                <li><a href="/search?query=Namibia">Namibia</a></li>
                                <li><a href="/search?query=South Africa">South Africa</a></li>
                                <li><a href="/search?query=Swaziland">Swaziland</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Western%20Africa">Western Africa</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Benin">Benin</a></li>
                                <li><a href="/search?query=Burkina Faso">Burkina Faso</a></li>
                                <li><a href="/search?query=Cape Verde">Cape Verde</a></li>
                                <li><a href="/search?query=Cote d'Ivoire">Cote d'Ivoire</a></li>
                                <li><a href="/search?query=Gambia">Gambia</a></li>
                                <li><a href="/search?query=Ghana">Ghana</a></li>
                                <li><a href="/search?query=Guinea">Guinea</a></li>
                                <li><a href="/search?query=Guinea-Bissau">Guinea-Bissau</a></li>
                                <li><a href="/search?query=Liberia">Liberia</a></li>
                                <li><a href="/search?query=Mali">Mali</a></li>
                                <li><a href="/search?query=Mauritania">Mauritania</a></li>
                                <li><a href="/search?query=Niger">Niger</a></li>
                                <li><a href="/search?query=Nigeria">Nigeria</a></li>
                                <li><a href="/search?query=Saint Helena">Saint Helena</a></li>
                                <li><a href="/search?query=Senegal">Senegal</a></li>
                                <li><a href="/search?query=Sierra Leone">Sierra Leone</a></li>
                                <li><a href="/search?query=Togo">Togo</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="/search?query=Asia" tabindex="-1">Asia</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="/search?query=Central%20Asia">Central Asia</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Kazakhstan">Kazakhstan</a></li>
                                <li><a href="/search?query=Kyrgyzstan">Kyrgyzstan</a></li>
                                <li><a href="/search?query=Tajikistan">Tajikistan</a></li>
                                <li><a href="/search?query=Turkmenistan">Turkmenistan</a></li>
                                <li><a href="/search?query=Uzbekistan">Uzbekistan</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Eastern%20Asia">Eastern Asia</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=China">China</a></li>
                                <li><a href="/search?query=Hong Kong">Hong Kong</a></li>
                                <li><a href="/search?query=Japan">Japan</a></li>
                                <li><a href="/search?query=Korea, North">Korea, North</a></li>
                                <li><a href="/search?query=Korea, South">Korea, South</a></li>
                                <li><a href="/search?query=Macao">Macao</a></li>
                                <li><a href="/search?query=Mongolia">Mongolia</a></li>
                                <li><a href="/search?query=Taiwan">Taiwan</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=South%20Eastern%20Asia">South Eastern Asia</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Brunei">Brunei</a></li>
                                <li><a href="/search?query=Cambodia">Cambodia</a></li>
                                <li><a href="/search?query=Indonesia">Indonesia</a></li>
                                <li><a href="/search?query=Laos">Laos</a></li>
                                <li><a href="/search?query=Malaysia">Malaysia</a></li>
                                <li><a href="/search?query=Myanmar">Myanmar</a></li>
                                <li><a href="/search?query=Philippines">Philippines</a></li>
                                <li><a href="/search?query=Singapore">Singapore</a></li>
                                <li><a href="/search?query=Thailand">Thailand</a></li>
                                <li><a href="/search?query=Timor Leste">Timor Leste</a></li>
                                <li><a href="/search?query=Vietnam">Vietnam</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Southern%20Asia">Southern Asia</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Afghanistan">Afghanistan</a></li>
                                <li><a href="/search?query=Bangladesh">Bangladesh</a></li>
                                <li><a href="/search?query=Bhutan">Bhutan</a></li>
                                <li><a href="/search?query=India">India</a></li>
                                <li><a href="/search?query=Iran">Iran</a></li>
                                <li><a href="/search?query=Maldives">Maldives</a></li>
                                <li><a href="/search?query=Nepal">Nepal</a></li>
                                <li><a href="/search?query=Pakistan">Pakistan</a></li>
                                <li><a href="/search?query=Palestinian Territory">Palestinian Territory</a></li>
                                <li><a href="/search?query=Sri Lanka">Sri Lanka</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=South%20Western%20Asia">Western Asia</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Armenia">Armenia</a></li>
                                <li><a href="/search?query=Azerbaijan">Azerbaijan</a></li>
                                <li><a href="/search?query=Bahrain">Bahrain</a></li>
                                <li><a href="/search?query=Cyprus">Cyprus</a></li>
                                <li><a href="/search?query=Georgia (Country)">Georgia (Country)</a></li>
                                <li><a href="/search?query=Iraq">Iraq</a></li>
                                <li><a href="/search?query=Israel">Israel</a></li>
                                <li><a href="/search?query=Jordan">Jordan</a></li>
                                <li><a href="/search?query=Kuwait">Kuwait</a></li>
                                <li><a href="/search?query=Lebanon">Lebanon</a></li>
                                <li><a href="/search?query=Oman">Oman</a></li>
                                <li><a href="/search?query=Qatar">Qatar</a></li>
                                <li><a href="/search?query=Saudi Arabia">Saudi Arabia</a></li>
                                <li><a href="/search?query=Syria">Syria</a></li>
                                <li><a href="/search?query=Turkey">Turkey</a></li>
                                <li><a href="/search?query=United Arab Emirates">United Arab Emirates</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="/search?query=Europe" tabindex="-1">Europe</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="/search?query=Eastern%20Europe">Eastern Europe</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Belarus">Belarus</a></li>
                                <li><a href="/search?query=Bulgaria">Bulgaria</a></li>
                                <li><a href="/search?query=Byelorussia">Byelorussia</a></li>
                                <li><a href="/search?query=Czech Republic">Czech Republic</a></li>
                                <li><a href="/search?query=Hungary">Hungary</a></li>
                                <li><a href="/search?query=Moldova">Moldova</a></li>
                                <li><a href="/search?query=Poland">Poland</a></li>
                                <li><a href="/search?query=Romania">Romania</a></li>
                                <li><a href="/search?query=Russia">Russia</a></li>
                                <li><a href="/search?query=Slovakia">Slovakia</a></li>
                                <li><a href="/search?query=Ukraine">Ukraine</a></li>
                                <li><a href="/search?query=USSR (former)">USSR (former)</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Northern%20Europe">Northern Europe</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Bouvet Island">Bouvet Island</a></li>
                                <li><a href="/search?query=Channel Islands">Channel Islands</a></li>
                                <li><a href="/search?query=Denmark">Denmark</a></li>
                                <li><a href="/search?query=England">England</a></li>
                                <li><a href="/search?query=Estonia">Estonia</a></li>
                                <li><a href="/search?query=Faroe Islands">Faroe Islands</a></li>
                                <li><a href="/search?query=Finland">Finland</a></li>
                                <li><a href="/search?query=Iceland">Iceland</a></li>
                                <li><a href="/search?query=Ireland">Ireland</a></li>
                                <li><a href="/search?query=Isle of Man">Isle of Man</a></li>
                                <li><a href="/search?query=Latvia">Latvia</a></li>
                                <li><a href="/search?query=Lithuania">Lithuania</a></li>
                                <li><a href="/search?query=Northern Ireland">Northern Ireland</a></li>
                                <li><a href="/search?query=Norway">Norway</a></li>
                                <li><a href="/search?query=Scotland">Scotland</a></li>
                                <li><a href="/search?query=Svalbard and Jan Mayen">Svalbard and Jan Mayen</a></li>
                                <li><a href="/search?query=Sweden">Sweden</a></li>
                                <li><a href="/search?query=United Kingdom">United Kingdom</a></li>
                                <li><a href="/search?query=Wales">Wales</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Southern%20Europe">Southern Europe</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Albania">Albania</a></li>
                                <li><a href="/search?query=Andorra">Andorra</a></li>
                                <li><a href="/search?query=Bosnia-Herzegovina">Bosnia-Herzegovina</a></li>
                                <li><a href="/search?query=Croatia">Croatia</a></li>
                                <li><a href="/search?query=Gibraltar">Gibraltar</a></li>
                                <li><a href="/search?query=Greece">Greece</a></li>
                                <li><a href="/search?query=Italy">Italy</a></li>
                                <li><a href="/search?query=Macedonia">Macedonia</a></li>
                                <li><a href="/search?query=Malta">Malta</a></li>
                                <li><a href="/search?query=Monaco">Monaco</a></li>
                                <li><a href="/search?query=Portugal">Portugal</a></li>
                                <li><a href="/search?query=San Marino">San Marino</a></li>
                                <li><a href="/search?query=Serbia and Montenegro">Serbia and Montenegro</a></li>
                                <li><a href="/search?query=Slovenia">Slovenia</a></li>
                                <li><a href="/search?query=Spain">Spain</a></li>
                                <li><a href="/search?query=Vatican City (Holy See)">Vatican City (Holy See)</a></li>
                                <li><a href="/search?query=Yugoslavia (former)">Yugoslavia (former)</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Europe">Western Europe</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Austria">Austria</a></li>
                                <li><a href="/search?query=Belgium">Belgium</a></li>
                                <li><a href="/search?query=France">France</a></li>
                                <li><a href="/search?query=Germany">Germany</a></li>
                                <li><a href="/search?query=Liechtenstein">Liechtenstein</a></li>
                                <li><a href="/search?query=Luxembourg">Luxembourg</a></li>
                                <li><a href="/search?query=Netherlands">Netherlands</a></li>
                                <li><a href="/search?query=Switzerland">Switzerland</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="/search?query=Oceania" tabindex="-1">Oceania</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="/search?query=Australia%20&amp;%20New%20Zealand">Australia &amp; New Zealand</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Australia">Australia</a></li>
                                <li><a href="/search?query=Christmas Island">Christmas Island</a></li>
                                <li><a href="/search?query=Cocos (Keeling) Islands">Cocos (Keeling) Islands</a></li>
                                <li><a href="/search?query=New Zealand">New Zealand</a></li>
                                <li><a href="/search?query=Norfolk Island">Norfolk Island</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Melanesia">Melanesia</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Fiji">Fiji</a></li>
                                <li><a href="/search?query=New Caledonia">New Caledonia</a></li>
                                <li><a href="/search?query=Papua New Guinea">Papua New Guinea</a></li>
                                <li><a href="/search?query=Solomon Islands">Solomon Islands</a></li>
                                <li><a href="/search?query=Vanuatu">Vanuatu</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Micronesia">Micronesia</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Guam">Guam</a></li>
                                <li><a href="/search?query=Kiribati">Kiribati</a></li>
                                <li><a href="/search?query=Marshall Islands">Marshall Islands</a></li>
                                <li><a href="/search?query=Nauru">Nauru</a></li>
                                <li><a href="/search?query=Northern Mariana Islands">Northern Mariana Islands</a></li>
                                <li><a href="/search?query=Palau">Palau</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Polynesia">Polynesia</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=American Samoa">American Samoa</a></li>
                                <li><a href="/search?query=Cook Islands">Cook Islands</a></li>
                                <li><a href="/search?query=French Polynesia">French Polynesia</a></li>
                                <li><a href="/search?query=Johnston Island">Johnston Island</a></li>
                                <li><a href="/search?query=Niue">Niue</a></li>
                                <li><a href="/search?query=Pitcairn">Pitcairn</a></li>
                                <li><a href="/search?query=Samoa">Samoa</a></li>
                                <li><a href="/search?query=Tokelau">Tokelau</a></li>
                                <li><a href="/search?query=Tonga">Tonga</a></li>
                                <li><a href="/search?query=Tuvalu">Tuvalu</a></li>
                                <li><a href="/search?query=Wallis &amp; Futuna Islands">Wallis &amp; Futuna Islands</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="/search?query=The%20Americas" tabindex="-1">The Americas</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="/search?query=Caribbean">Caribbean</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Anguilla">Anguilla</a></li>
                                <li><a href="/search?query=Antigua and Barbuda">Antigua and Barbuda</a></li>
                                <li><a href="/search?query=Aruba">Aruba</a></li>
                                <li><a href="/search?query=Bahamas">Bahamas</a></li>
                                <li><a href="/search?query=Barbados">Barbados</a></li>
                                <li><a href="/search?query=British Virgin Islands">British Virgin Islands</a></li>
                                <li><a href="/search?query=Cayman Islands">Cayman Islands</a></li>
                                <li><a href="/search?query=Cuba">Cuba</a></li>
                                <li><a href="/search?query=Dominica">Dominica</a></li>
                                <li><a href="/search?query=Dominican Republic">Dominican Republic</a></li>
                                <li><a href="/search?query=Grenada">Grenada</a></li>
                                <li><a href="/search?query=Guadeloupe">Guadeloupe</a></li>
                                <li><a href="/search?query=Haiti">Haiti</a></li>
                                <li><a href="/search?query=Jamaica">Jamaica</a></li>
                                <li><a href="/search?query=Martinique">Martinique</a></li>
                                <li><a href="/search?query=Montserrat">Montserrat</a></li>
                                <li><a href="/search?query=Netherlands Antilles">Netherlands Antilles</a></li>
                                <li><a href="/search?query=Puerto Rico">Puerto Rico</a></li>
                                <li><a href="/search?query=Saint Kitts and Nevis">Saint Kitts and Nevis</a></li>
                                <li><a href="/search?query=Saint Lucia">Saint Lucia</a></li>
                                <li><a href="/search?query=Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</a></li>
                                <li><a href="/search?query=Trinidad and Tobago">Trinidad and Tobago</a></li>
                                <li><a href="/search?query=Turks and Caicos">Turks and Caicos</a></li>
                                <li><a href="/search?query=Virgin Islands of the United States">Virgin Islands of the United States</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Central%20America">Central America</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Belize">Belize</a></li>
                                <li><a href="/search?query=Costa Rica">Costa Rica</a></li>
                                <li><a href="/search?query=El Salvador">El Salvador</a></li>
                                <li><a href="/search?query=Guatemala">Guatemala</a></li>
                                <li><a href="/search?query=Honduras">Honduras</a></li>
                                <li><a href="/search?query=Mexico">Mexico</a></li>
                                <li><a href="/search?query=Nicaragua">Nicaragua</a></li>
                                <li><a href="/search?query=Panama">Panama</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Northern%20America">Northern America</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Bermuda">Bermuda</a></li>
                                <li><a href="/search?query=Canada">Canada</a></li>
                                <li><a href="/search?query=Greenland">Greenland</a></li>
                                <li><a href="/search?query=Saint Pierre and Miquelon">Saint Pierre and Miquelon</a></li>
                                <li><a href="/search?query=United States">United States</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="/search?query=Southern%20America">Southern America</a>
                            <ul class="dropdown-menu">
                                <li><a href="/search?query=Argentina">Argentina</a></li>
                                <li><a href="/search?query=Bolivia">Bolivia</a></li>
                                <li><a href="/search?query=Brazil">Brazil</a></li>
                                <li><a href="/search?query=Chile">Chile</a></li>
                                <li><a href="/search?query=Colombia">Colombia</a></li>
                                <li><a href="/search?query=Ecuador">Ecuador</a></li>
                                <li><a href="/search?query=Falkland Islands (Islas Malvinas)">Falkland Islands (Islas Malvinas)</a></li>
                                <li><a href="/search?query=French Guiana">French Guiana</a></li>
                                <li><a href="/search?query=Guyana">Guyana</a></li>
                                <li><a href="/search?query=Paraguay">Paraguay</a></li>
                                <li><a href="/search?query=Peru">Peru</a></li>
                                <li><a href="/search?query=Suriname">Suriname</a></li>
                                <li><a href="/search?query=Uruguay">Uruguay</a></li>
                                <li><a href="/search?query=Venezuela">Venezuela</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div id="filters" style="display: none">
        <h3 class="text-hide">Filter by</h3>
        <a class="filter clear-filter" href="@Model.GetClearFiltersUrl()">Clear Filters</a>
        <a href="#" id="close-filter" onclick="toggle_visibility('filters');">Hide Filters</a>
        <div class="clearfix"></div>
        @if (Model != null && Model.FiltersModel != null && Model.FiltersModel.FiltersOptions != null && Model.FiltersModel.FiltersOptions.Count > 0)
        {
        if (!string.IsNullOrEmpty(Model.Query))
        {
        <ul class="nav-list">
            @foreach (var filter in Model.FiltersModel.FiltersOptions)
            {
            if (!filter.Key.Equals(Model.FiltersModel.ContentTypeParamName.ToLowerInvariant(), StringComparison.OrdinalIgnoreCase) && filter.Value.Any())
            {
            var optionsCount = filter.Value.Count();
            var seeLessClass = optionsCount > 20 ? cssClass_21_40 : optionsCount > 5 ? cssClass_6_20 : cssClass_1_5;

            <li class="nav-header">@RenderFilterTitle(filter.Key, filterImages)</li>
                <li>
                    <ul class="values">
                        @foreach (var option in filter.Value.Take(5))
                        {
                        @RenderFilterOption(filter.Key, option, cssClass_1_5, "")
                        }

                        @if (optionsCount > 5)
                        {
                        <a href="#" class="@cssClass_1_5 seeMoreFilterOptions">see more <span>+</span></a>

                        foreach (var option in filter.Value.Skip(5).Take(15))
                        {
                        @RenderFilterOption(filter.Key, option, cssClass_6_20, "display:none;")
                        }

                        if (optionsCount > 20)
                        {
                        <a href="#" class="@cssClass_6_20 seeMoreFilterOptions" style="display:none">see more <span>+</span></a>

                        foreach (var option in filter.Value.Skip(20).Take(20))
                        {
                        @RenderFilterOption(filter.Key, option, cssClass_21_40, "display:none;")
                        }

                        if (optionsCount > 40)
                        {
                        <p class="@cssClass_21_40" style="display:none"><i>Please refine your search.</i></p>
                        }
                        }

                        <a href="#" class="@seeLessClass seeLessFilterOptions" style="display:none">see less <span>&ndash;</span></a>
                        }
                    </ul>
                </li>
            }
            }
        </ul>
        }
        }
    </div>
}

@helper RenderFilterOption(string filterName, SmithsonianSearch.Models.Filter option, string cssClass, string styleAttrValue)
{
    if (option != null && !string.IsNullOrEmpty(option.Title) && !option.Title.Equals("n/a"))
    {
    bool isApplied = Model.FiltersModel.IsFilterApplied(filterName, option.Title);
    string checkedAttr = isApplied ? "checked" : string.Empty;

    <li class="@cssClass" style="@styleAttrValue">
        <label for="filterValue" title="@option" class="clearfix">
            <input type="checkbox" name="filter-value" @checkedAttr class="filter" value="@Model.GetFilterUrl(filterName, option.Title, !isApplied)" />
            <span title="@option">@option.Title.Truncate(55) (@option.ResultsCount.ToString("n0"))</span>
        </label>
    </li>
    }
}

@helper RenderFilterTitle(string filter, Dictionary<string, string> filterImages)
{
    if (filterImages.ContainsKey(filter.ToLowerInvariant()))
    {
    <img src="@Url.Content(filterImages[filter.ToLowerInvariant()])" alt="@filter" />
    }
    else
    {
    @filter
    }
}
