@* This view is responsible for rendering filters *@
@using SmithsonianSearch.Helpers
@using SmithsonianSearch.Models
@model SearchModel

@{
    var cssClass_1_5 = "first-5-options";
    var cssClass_6_20 = "from-6-to-20-options";
    var cssClass_21_40 = "from-21-to-40-options";

    // Expected filters categories: [name in lower case] - [path to title image]. Add a new entry in case of a new category.
    var filterImages = new Dictionary<string, string>()
                            {
                                { "artist", "~/img/label_artist.png" },
                                { "country", "~/img/label_country.png" },
                                { "culture", "~/img/label_culture.png" },
                                { "decade", "~/img/label_decade.png" },
                                { "format", "~/img/label_format.png" },
                                { "genre", "~/img/label_genre.png" },
                                { "gradelevel", "~/img/label_gradelevel.png" },
                                { "instrument", "~/img/label_instrument.png" },
                                { "label", "~/img/label_label.png" },
                                { "language", "~/img/label_language.png" },
                                { "share", "~/img/label_share.png" }
                            };
}


@if (!string.IsNullOrEmpty(Model.Query))
{
    <!-- BROWSE -->
    <div id="browse" style="display: none">
        <h3 class="text-hide">Browse by</h3>
        <!-- BY GENRE -->
        <div class="dropselectgenre border">
	        <select id="ddl" runat="server" onchange="javascript:document.location.href = this.value;">
	            <option value="">Select</option>
	            <option value=""></option>
                <option value="/search?query=African%20American%20Music">African American Music</option>
                <option value="/search?query=African%20American%20Spoken">African American Spoken</option>
                <option value="/search?query=American%20Folk">American Folk</option>
                <option value="/search?query=American%20History">American History</option>
                <option value="/search?query=American%20Indian">American Indian</option>
                <option value="/search?query=American%20Popular">American Popular</option>
                <option value="/search?query=Bluegrass">Bluegrass</option>
                <option value="/search?query=Blues">Blues</option>
                <option value="/search?query=Cajun">Cajun</option>
                <option value="/search?query=Caribbean">Caribbean</option>
                <option value="/search?query=Celtic">Celtic</option>
                <option value="/search?query=Central%20Asia">Central Asia</option>
                <option value="/search?query=Children's">Children's</option>
                <option value="/search?query=Classical">Classical</option>
                <option value="/search?query=Contemporary">Contemporary &amp; Electronic</option>
                <option value="/search?query=Country">Country</option>
                <option value="/search?query=Documentary">Documentary</option>
                <option value="/search?query=Drama">Drama</option>
                <option value="/search?query=Gospel">Gospel</option>
                <option value="/search?query=Hawai'i">Hawai'i</option>
                <option value="/search?query=Historical%20Song">Historical Song</option>
                <option value="/search?query=Holiday">Holiday</option>
                <option value="/search?query=Humor">Humor</option>
                <option value="/search?query=India">India</option>
                <option value="/search?query=Islamica">Islamica</option>
                <option value="/search?query=Jazz">Jazz &amp; Ragtime</option>
                <option value="/search?query=Judaica">Judaica</option>
                <option value="/search?query=Language%20Instruction">Language Instruction</option>
                <option value="/search?query=Latin">Latin</option>
                <option value="/search?query=Miscellany">Miscellany</option>
                <option value="/search?query=Music%20Instruction">Music Instruction</option>
                <option value="/search?query=Old%20Time">Old Time</option>
                <option value="/search?query=Oral%20History">Oral History &amp; Biography</option>
                <option value="/search?query=Poetry">Poetry</option>
                <option value="/search?query=Prose">Prose</option>
                <option value="/search?query=Psychology">Psychology &amp; Health</option>
                <option value="/search?query=Sacred">Sacred</option>
                <option value="/search?query=Science">Science &amp; Nature</option>
                <option value="/search?query=Sounds">Sounds</option>
                <option value="/search?query=Soundtracks">Soundtracks &amp; Musicals</option>
                <option value="/search?query=Spoken%20Word">Spoken Word</option>
                <option value="/search?query=Struggle">Struggle &amp; Protest</option>
                <option value="/search?query=World">World</option>
                <option value="/search?query=World%20History">World History</option>
	        </select>
        </div>
        <!-- BY COUNTRY -->
        <div class="dropselectcountry border">
            <select id="ddl" runat="server" onchange="javascript:document.location.href = this.value;">
                <option value="">Select</option>
                <option value=""></option>
                <option value="/search?query=Afghanistan">Afghanistan</option>
                <option value="/search?query=Albania">Albania</option>
                <option value="/search?query=Algeria">Algeria</option>
                <option value="/search?query=American Samoa">American Samoa</option>
                <option value="/search?query=Andorra">Andorra</option>
                <option value="/search?query=Angola">Angola</option>
                <option value="/search?query=Anguilla">Anguilla</option>
                <option value="/search?query=Antigua and Barbuda">Antigua and Barbuda</option>
                <option value="/search?query=Argentina">Argentina</option>
                <option value="/search?query=Armenia">Armenia</option>
                <option value="/search?query=Aruba">Aruba</option>
                <option value="/search?query=Australia">Australia</option>
                <option value="/search?query=Austria">Austria</option>
                <option value="/search?query=Azerbaijan">Azerbaijan</option>
                <option value="/search?query=Bahamas">Bahamas</option>
                <option value="/search?query=Bahrain">Bahrain</option>
                <option value="/search?query=Bangladesh">Bangladesh</option>
                <option value="/search?query=Barbados">Barbados</option>
                <option value="/search?query=Belarus">Belarus</option>
                <option value="/search?query=Belgium">Belgium</option>
                <option value="/search?query=Belize">Belize</option>
                <option value="/search?query=Benin">Benin</option>
                <option value="/search?query=Bermuda">Bermuda</option>
                <option value="/search?query=Bhutan">Bhutan</option>
                <option value="/search?query=Bolivia">Bolivia</option>
                <option value="/search?query=Bosnia-Herzegovina">Bosnia-Herzegovina</option>
                <option value="/search?query=Botswana">Botswana</option>
                <option value="/search?query=Bouvet Island">Bouvet Island</option>
                <option value="/search?query=Brazil">Brazil</option>
                <option value="/search?query=British Virgin Islands">British Virgin Islands</option>
                <option value="/search?query=Brunei">Brunei</option>
                <option value="/search?query=Bulgaria">Bulgaria</option>
                <option value="/search?query=Burkina Faso">Burkina Faso</option>
                <option value="/search?query=Burundi">Burundi</option>
                <option value="/search?query=Cambodia">Cambodia</option>
                <option value="/search?query=Cameroon">Cameroon</option>
                <option value="/search?query=Canada">Canada</option>
                <option value="/search?query=Cape Verde">Cape Verde</option>
                <option value="/search?query=Cayman Islands">Cayman Islands</option>
                <option value="/search?query=Central African Republic">Central African Republic</option>
                <option value="/search?query=Chad">Chad</option>
                <option value="/search?query=Channel Islands">Channel Islands</option>
                <option value="/search?query=Chile">Chile</option>
                <option value="/search?query=China">China</option>
                <option value="/search?query=Christmas Island">Christmas Island</option>
                <option value="/search?query=Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                <option value="/search?query=Colombia">Colombia</option>
                <option value="/search?query=Comoros">Comoros</option>
                <option value="/search?query=Congo (Brazzaville)">Congo (Brazzaville)</option>
                <option value="/search?query=Congo (Democratic Republic)">Congo (Democratic Republic)</option>
                <option value="/search?query=Cook Islands">Cook Islands</option>
                <option value="/search?query=Costa Rica">Costa Rica</option>
                <option value="/search?query=Cote d'Ivoire">Cote d'Ivoire</option>
                <option value="/search?query=Croatia">Croatia</option>
                <option value="/search?query=Cuba">Cuba</option>
                <option value="/search?query=Cyprus">Cyprus</option>
                <option value="/search?query=Czech Republic">Czech Republic</option>
                <option value="/search?query=Denmark">Denmark</option>
                <option value="/search?query=Djibouti">Djibouti</option>
                <option value="/search?query=Dominica">Dominica</option>
                <option value="/search?query=Dominican Republic">Dominican Republic</option>
                <option value="/search?query=Ecuador">Ecuador</option>
                <option value="/search?query=Egypt">Egypt</option>
                <option value="/search?query=El Salvador">El Salvador</option>
                <option value="/search?query=England">England</option>
                <option value="/search?query=Equatorial Guinea">Equatorial Guinea</option>
                <option value="/search?query=Eritrea">Eritrea</option>
                <option value="/search?query=Estonia">Estonia</option>
                <option value="/search?query=Ethiopia">Ethiopia</option>
                <option value="/search?query=Falkland Islands (Islas Malvinas)">Falkland Islands (Islas Malvinas)</option>
                <option value="/search?query=Faroe Islands">Faroe Islands</option>
                <option value="/search?query=Federated States of Micronesia">Federated States of Micronesia</option>
                <option value="/search?query=Fiji">Fiji</option>
                <option value="/search?query=Finland">Finland</option>
                <option value="/search?query=France">France</option>
                <option value="/search?query=French Guiana">French Guiana</option>
                <option value="/search?query=French Polynesia">French Polynesia</option>
                <option value="/search?query=French Southern Territories">French Southern Territories</option>
                <option value="/search?query=Gabon">Gabon</option>
                <option value="/search?query=Gambia">Gambia</option>
                <option value="/search?query=Georgia (Country)">Georgia (Country)</option>
                <option value="/search?query=Germany">Germany</option>
                <option value="/search?query=Ghana">Ghana</option>
                <option value="/search?query=Gibraltar">Gibraltar</option>
                <option value="/search?query=Greece">Greece</option>
                <option value="/search?query=Greenland">Greenland</option>
                <option value="/search?query=Grenada">Grenada</option>
                <option value="/search?query=Guadeloupe">Guadeloupe</option>
                <option value="/search?query=Guam">Guam</option>
                <option value="/search?query=Guatemala">Guatemala</option>
                <option value="/search?query=Guinea">Guinea</option>
                <option value="/search?query=Guinea-Bissau">Guinea-Bissau</option>
                <option value="/search?query=Guyana">Guyana</option>
                <option value="/search?query=Haiti">Haiti</option>
                <option value="/search?query=Heard Island">Heard Island</option>
                <option value="/search?query=Honduras">Honduras</option>
                <option value="/search?query=Hong Kong">Hong Kong</option>
                <option value="/search?query=Hungary">Hungary</option>
                <option value="/search?query=Iceland">Iceland</option>
                <option value="/search?query=India">India</option>
                <option value="/search?query=Indonesia">Indonesia</option>
                <option value="/search?query=Iran">Iran</option>
                <option value="/search?query=Iraq">Iraq</option>
                <option value="/search?query=Ireland">Ireland</option>
                <option value="/search?query=Isle of Man">Isle of Man</option>
                <option value="/search?query=Israel">Israel</option>
                <option value="/search?query=Italy">Italy</option>
                <option value="/search?query=Jamaica">Jamaica</option>
                <option value="/search?query=Japan">Japan</option>
                <option value="/search?query=Johnston Island">Johnston Island</option>
                <option value="/search?query=Jordan">Jordan</option>
                <option value="/search?query=Kazakhstan">Kazakhstan</option>
                <option value="/search?query=Kenya">Kenya</option>
                <option value="/search?query=Kiribati">Kiribati</option>
                <option value="/search?query=Korea, North">Korea, North</option>
                <option value="/search?query=Korea, South">Korea, South</option>
                <option value="/search?query=Kuwait">Kuwait</option>
                <option value="/search?query=Kyrgyzstan">Kyrgyzstan</option>
                <option value="/search?query=Laos">Laos</option>
                <option value="/search?query=Latvia">Latvia</option>
                <option value="/search?query=Lebanon">Lebanon</option>
                <option value="/search?query=Lesotho">Lesotho</option>
                <option value="/search?query=Liberia">Liberia</option>
                <option value="/search?query=Libya">Libya</option>
                <option value="/search?query=Liechtenstein">Liechtenstein</option>
                <option value="/search?query=Lithuania">Lithuania</option>
                <option value="/search?query=Luxembourg">Luxembourg</option>
                <option value="/search?query=Macao">Macao</option>
                <option value="/search?query=Macedonia">Macedonia</option>
                <option value="/search?query=Madagascar">Madagascar</option>
                <option value="/search?query=Malawi">Malawi</option>
                <option value="/search?query=Malaysia">Malaysia</option>
                <option value="/search?query=Maldives">Maldives</option>
                <option value="/search?query=Mali">Mali</option>
                <option value="/search?query=Malta">Malta</option>
                <option value="/search?query=Marshall Islands">Marshall Islands</option>
                <option value="/search?query=Martinique">Martinique</option>
                <option value="/search?query=Mauritania">Mauritania</option>
                <option value="/search?query=Mauritius">Mauritius</option>
                <option value="/search?query=Mayotte">Mayotte</option>
                <option value="/search?query=McDonald Islands">McDonald Islands</option>
                <option value="/search?query=Mexico">Mexico</option>
                <option value="/search?query=Moldova">Moldova</option>
                <option value="/search?query=Monaco">Monaco</option>
                <option value="/search?query=Mongolia">Mongolia</option>
                <option value="/search?query=Montserrat">Montserrat</option>
                <option value="/search?query=Morocco">Morocco</option>
                <option value="/search?query=Mozambique">Mozambique</option>
                <option value="/search?query=Myanmar">Myanmar</option>
                <option value="/search?query=Namibia">Namibia</option>
                <option value="/search?query=Nauru">Nauru</option>
                <option value="/search?query=Nepal">Nepal</option>
                <option value="/search?query=Netherlands Antilles">Netherlands Antilles</option>
                <option value="/search?query=Netherlands">Netherlands</option>
                <option value="/search?query=New Caledonia">New Caledonia</option>
                <option value="/search?query=New Zealand">New Zealand</option>
                <option value="/search?query=Nicaragua">Nicaragua</option>
                <option value="/search?query=Niger">Niger</option>
                <option value="/search?query=Nigeria">Nigeria</option>
                <option value="/search?query=Niue">Niue</option>
                <option value="/search?query=Norfolk Island">Norfolk Island</option>
                <option value="/search?query=Northern Ireland">Northern Ireland</option>
                <option value="/search?query=Northern Mariana Islands">Northern Mariana Islands</option>
                <option value="/search?query=Norway">Norway</option>
                <option value="/search?query=Oman">Oman</option>
                <option value="/search?query=Pakistan">Pakistan</option>
                <option value="/search?query=Palau">Palau</option>
                <option value="/search?query=Palestinian Territory">Palestinian Territory</option>
                <option value="/search?query=Panama">Panama</option>
                <option value="/search?query=Papua New Guinea">Papua New Guinea</option>
                <option value="/search?query=Paraguay">Paraguay</option>
                <option value="/search?query=Peru">Peru</option>
                <option value="/search?query=Philippines">Philippines</option>
                <option value="/search?query=Pitcairn">Pitcairn</option>
                <option value="/search?query=Poland">Poland</option>
                <option value="/search?query=Portugal">Portugal</option>
                <option value="/search?query=Puerto Rico">Puerto Rico</option>
                <option value="/search?query=Qatar">Qatar</option>
                <option value="/search?query=Reunion">Reunion</option>
                <option value="/search?query=Romania">Romania</option>
                <option value="/search?query=Russia">Russia</option>
                <option value="/search?query=Rwanda">Rwanda</option>
                <option value="/search?query=Saint Helena">Saint Helena</option>
                <option value="/search?query=Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                <option value="/search?query=Saint Lucia">Saint Lucia</option>
                <option value="/search?query=Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                <option value="/search?query=Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                <option value="/search?query=Samoa">Samoa</option>
                <option value="/search?query=San Marino">San Marino</option>
                <option value="/search?query=Sao Tome and Principe">Sao Tome and Principe</option>
                <option value="/search?query=Saudi Arabia">Saudi Arabia</option>
                <option value="/search?query=Scotland">Scotland</option>
                <option value="/search?query=Senegal">Senegal</option>
                <option value="/search?query=Serbia and Montenegro">Serbia and Montenegro</option>
                <option value="/search?query=Seychelles">Seychelles</option>
                <option value="/search?query=Sierra Leone">Sierra Leone</option>
                <option value="/search?query=Singapore">Singapore</option>
                <option value="/search?query=Slovakia">Slovakia</option>
                <option value="/search?query=Slovenia">Slovenia</option>
                <option value="/search?query=Solomon Islands">Solomon Islands</option>
                <option value="/search?query=Somalia">Somalia</option>
                <option value="/search?query=South Africa">South Africa</option>
                <option value="/search?query=Spain">Spain</option>
                <option value="/search?query=Sri Lanka">Sri Lanka</option>
                <option value="/search?query=Sudan">Sudan</option>
                <option value="/search?query=Suriname">Suriname</option>
                <option value="/search?query=Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                <option value="/search?query=Swaziland">Swaziland</option>
                <option value="/search?query=Sweden">Sweden</option>
                <option value="/search?query=Switzerland">Switzerland</option>
                <option value="/search?query=Syria">Syria</option>
                <option value="/search?query=Taiwan">Taiwan</option>
                <option value="/search?query=Tajikistan">Tajikistan</option>
                <option value="/search?query=Tanzania">Tanzania</option>
                <option value="/search?query=Thailand">Thailand</option>
                <option value="/search?query=Timor Leste">Timor Leste</option>
                <option value="/search?query=Togo">Togo</option>
                <option value="/search?query=Tokelau">Tokelau</option>
                <option value="/search?query=Tonga">Tonga</option>
                <option value="/search?query=Trinidad and Tobago">Trinidad and Tobago</option>
                <option value="/search?query=Tunisia">Tunisia</option>
                <option value="/search?query=Turkey">Turkey</option>
                <option value="/search?query=Turkmenistan">Turkmenistan</option>
                <option value="/search?query=Turks and Caicos">Turks and Caicos</option>
                <option value="/search?query=Tuvalu">Tuvalu</option>
                <option value="/search?query=Uganda">Uganda</option>
                <option value="/search?query=Ukraine">Ukraine</option>
                <option value="/search?query=United Arab Emirates">United Arab Emirates</option>
                <option value="/search?query=United Kingdom">United Kingdom</option>
                <option value="/search?query=United States">United States</option>
                <option value="/search?query=Uruguay">Uruguay</option>
                <option value="/search?query=USSR (former)">USSR (former)</option>
                <option value="/search?query=Uzbekistan">Uzbekistan</option>
                <option value="/search?query=Vanuatu">Vanuatu</option>
                <option value="/search?query=Vatican City (Holy See)">Vatican City (Holy See)</option>
                <option value="/search?query=Venezuela">Venezuela</option>
                <option value="/search?query=Vietnam">Vietnam</option>
                <option value="/search?query=Virgin Islands of the United States">Virgin Islands of the United States</option>
                <option value="/search?query=Wales">Wales</option>
                <option value="/search?query=Wallis &amp; Futuna Islands">Wallis &amp; Futuna Islands</option>
                <option value="/search?query=Western Sahara">Western Sahara</option>
                <option value="/search?query=Yemen">Yemen</option>
                <option value="/search?query=Yugoslavia (former)">Yugoslavia (former)</option>
                <option value="/search?query=Zambia">Zambia</option>
                <option value="/search?query=Zimbabwe">Zimbabwe</option>
            </select>
        </div>
    </div>

    <div id="filters" style="display: none">
        <h3 class="text-hide">Filter by</h3>
        <a class="filter clear-filter" href="@Model.GetClearFiltersUrl()">Clear Filters</a>
        <a href="#" id="close-filter" onclick="toggle_visibility('filters');">Hide Filters</a>
        <div class="clearfix"></div>
        @if (Model != null && Model.FiltersModel != null && Model.FiltersModel.FiltersOptions != null && Model.FiltersModel.FiltersOptions.Count > 0)
        {
        if (!string.IsNullOrEmpty(Model.Query))
        {
        <ul class="nav-list">
            @foreach (var filter in Model.FiltersModel.FiltersOptions)
            {
            if (!filter.Key.Equals(Model.FiltersModel.ContentTypeParamName.ToLowerInvariant(), StringComparison.OrdinalIgnoreCase) && filter.Value.Any())
            {
            var optionsCount = filter.Value.Count();
            var seeLessClass = optionsCount > 20 ? cssClass_21_40 : optionsCount > 5 ? cssClass_6_20 : cssClass_1_5;

            <li class="nav-header">@RenderFilterTitle(filter.Key, filterImages)</li>
                <li>
                    <ul class="values">
                        @foreach (var option in filter.Value.Take(5))
                        {
                        @RenderFilterOption(filter.Key, option, cssClass_1_5, "")
                        }

                        @if (optionsCount > 5)
                        {
                        <a href="#" class="@cssClass_1_5 seeMoreFilterOptions">see more <span>+</span></a>

                        foreach (var option in filter.Value.Skip(5).Take(15))
                        {
                        @RenderFilterOption(filter.Key, option, cssClass_6_20, "display:none;")
                        }

                        if (optionsCount > 20)
                        {
                        <a href="#" class="@cssClass_6_20 seeMoreFilterOptions" style="display:none">see more <span>+</span></a>

                        foreach (var option in filter.Value.Skip(20).Take(20))
                        {
                        @RenderFilterOption(filter.Key, option, cssClass_21_40, "display:none;")
                        }

                        if (optionsCount > 40)
                        {
                        <p class="@cssClass_21_40" style="display:none"><i>Please refine your search.</i></p>
                        }
                        }

                        <a href="#" class="@seeLessClass seeLessFilterOptions" style="display:none">see less <span>&ndash;</span></a>
                        }
                    </ul>
                </li>
            }
            }
        </ul>
        }
        }
    </div>
}

@helper RenderFilterOption(string filterName, SmithsonianSearch.Models.Filter option, string cssClass, string styleAttrValue)
{
    if (option != null && !string.IsNullOrEmpty(option.Title) && !option.Title.Equals("n/a"))
    {
    bool isApplied = Model.FiltersModel.IsFilterApplied(filterName, option.Title);
    string checkedAttr = isApplied ? "checked" : string.Empty;

    <li class="@cssClass" style="@styleAttrValue">
        <label for="filterValue" title="@option" class="clearfix">
            <input type="checkbox" name="filter-value" @checkedAttr class="filter" value="@Model.GetFilterUrl(filterName, option.Title, !isApplied)" />
            <span title="@option">@option.Title.Truncate(55) (@option.ResultsCount.ToString("n0"))</span>
        </label>
    </li>
    }
}

@helper RenderFilterTitle(string filter, Dictionary<string, string> filterImages)
{
    if (filterImages.ContainsKey(filter.ToLowerInvariant()))
    {
    <img src="@Url.Content(filterImages[filter.ToLowerInvariant()])" alt="@filter" />
    }
    else
    {
    @filter
    }
}
