@using System.Security.Policy
@using Bootstrap.Html
@using Folkways.Collection.Helpers
@using Folkways.Collection.Models
@using Folkways.Collection.Fields
@{
    Style.Include("jquery-ui.min.css");
    Script.Include("jquery-ui-1.10.2.min.js");
    Script.Include("buy-button.js").AtFoot();
}
@{
    var track = (Track)Model.Track;
    var album = (AlbumPart)Model.Album;
    var tracks = album.Tracks.ToList();
    var artistName = album.GetArtistName();
    var recordLabel = album.RecordLabel;
    var credits = (IList<PerformerCredit>)Model.Credits;
    var instruments = (IList<Instrument>)Model.Instruments;
    var trackArtistName = track.GetArtistName();
    var countries = ((IEnumerable<Country>)Model.Album.Countries).ToList();
    var cultureGroups = ((IEnumerable<CultureGroup>)Model.Album.CultureGroups).ToList();
    var albumInstruments = ((IEnumerable<Instrument>)Model.Album.Instruments).ToList();
    var languages = ((IEnumerable<Language>)Model.Album.Languages).ToList();
    var subjects = ((IEnumerable<Subject>)Model.Album.Subjects).ToList();
    var genresField = (GenresField)Model.Album.Genres;
    var genres = genresField.Genres.ToList();
    var creditsPart = (CreditsContainerPart)Model.Album.CreditsContainerPart;
    var productsPart = (ProductsPart)Model.Album.ProductsPart;
    var products = productsPart.Products.ToArray();
}
<!--Share-->
<script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f4fe1f745e0431b"></script>
<script>
    var addthis_share = {
        templates: {
            twitter: "{{url}} {{title}} "
        }
    }
</script>
<!--Back to top-->
<script>
    jQuery(document).ready(function () {
        var offset = 220;
        var duration = 500;
        jQuery(window).scroll(function () {
            if (jQuery(this).scrollTop() > offset) {
                jQuery('.back-to-top').fadeIn(duration);
            } else {
                jQuery('.back-to-top').fadeOut(duration);
            }
        });

        jQuery('.back-to-top').click(function (event) {
            event.preventDefault();
            jQuery('html, body').animate({ scrollTop: 0 }, duration);
            return false;
        });
    });
</script>



<!-- AUDIO SAMPLES -->
<script type="text/javascript">
    (function () {
        if (window.innerWidth < 640) {
            var theScript = document.createElement('script');
            theScript.type = 'text/javascript';
            theScript.src = '/Themes/Bootstrap/Content/pickleMobile/pickle.js';

            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(theScript, s);
        }
    })();
    (function () {
        if (window.innerWidth > 640) {
            var theScript = document.createElement('script');
            theScript.type = 'text/javascript';
            theScript.src = '/Themes/Bootstrap/Content/pickle/pickle.js';

            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(theScript, s);
        }
    })();

</script>
<link rel="stylesheet" media="(min-width:640px)" href="/Themes/Bootstrap/Content/pickle/skins/button_folkways_play_sample/stylesheet.css" />
<link rel="stylesheet" media="(max-width:640px)" href="/Themes/Bootstrap/Content/pickle/skins/button_folkways_play_sample/stylesheet.css" />

<div class="row">
    <div class="col-md-8 col-sm-8 recording-details">
        <div id="album">
            <h1>"@track.Title"</h1>

            @if (!String.IsNullOrWhiteSpace(trackArtistName))
            {
            <h2>
                @if (track.Artist != null)
                {
                @*<b>@T("{0}", Html.AgentLink(track.Artist))</b>*@
                    <b><a href="/search?query=@Url.Encode(track.Artist.Name)">@track.Artist.Name</a></b>
                }
                else
                {
                @*<b>@T("{0}", trackArtistName)</b>*@
                    <b><a href="/search?query=@Url.Encode(trackArtistName)">@trackArtistName</a></b>
                }
                @if (!String.IsNullOrWhiteSpace(track.CatalogNumber))
                {
                <span class="catnum">@T("{0}", track.CatalogNumber)</span>
                }
            </h2>
            }

            <!--album cover only show in mobile-->
            <div class="visible-xs">
                <center>
                    @if (album.ImageGallery != null)
                    {
                    @T(album.ImageGallery)
                    }
                    else
                    {
                    <img alt="@album.Name" src="@Url.Content("http://media.smithsonianfolkways.org/images/album_covers/SF270/" + album.CatalogNumber + ".jpg")" />
                    }
                </center>
                <!-- PLAY BUTTON LIVE -->
                @if (track.Duration != null) {
                 <div class="play-track-sample-button-mobile top-fifteen">
                     <center><div data-mobile="@Url.Content(String.Format("http://media.smithsonianfolkways.org/audio/samples/{0}/{1}/{2}.mp3", recordLabel.ShortName, album.CatalogNumber, track.FileName))"></div></center>
                </div>
                    }
                <!-- PLAY BUTTON BETA 
                <div class="play-track-sample-button-mobile top-fifteen">
                    <center><div data-mobile="@Url.Content(String.Format("http://folk07.si.edu/audio/mp3.256/{0}/{1}/{2}.mp3", recordLabel.ShortName, album.CatalogNumber, track.FileName))"></div></center>
                </div> -->
                <div class="clear"></div>
                <!-- BUY TRACK BUTTON -->
                @if (track.ForSaleDigital)
                {
                <div class="album-button-mobile">
                    <div style="width: 100%; margin-top: 12px">
                        <div style="display: inline">
                            <input type="submit" name="button" value="BUY TRACK&nbsp;&nbsp;&nbsp;&nbsp;@track.Price.Value.ToString("c")" onclick="javascript: addProduct('@track.NetsuiteNumber');" class="buy-button" />
                            @*<form class="buy-form"
                                  data-success-message="@T("The item was succesfully added to the cart.")"
                                  name="@("form" + track.NetsuiteNumber)"
                                  action="http://folkways-store.si.edu/app/site/query/additemtocart.nl?c=297799&amp;n=1&amp;ext=T" method="post">
                                <input type="hidden" name="buyid" value="@track.NetsuiteNumber">
                                <input type="hidden" name="c" value="297799">
                                <input type="hidden" name="n" value="1">
                                <input type="hidden" value="@Url.GetBuyButtonRedirectUrl()" name="redirect">
                                <input type="submit" value="BUY TRACK&nbsp;&nbsp;&nbsp;&nbsp;@track.Price.Value.ToString("c")" class="buy-button">
                            </form>*@
                        </div>
                    </div>
                </div>
                }
            </div>

            <!--track details-->
            <p><span class="catnum">Album </span><i><a href="@Url.ItemDisplayUrl(album)">@Html.Raw(album.Name)</a></i>
            </p>
            <!--<h2><span class="catnum">Album Catalog Number: @T("{0}", album.CatalogNumber)</span></h2>
                <p><span class="catnum">Title: </span>@T("{0}", track.Title)</p>-->
            @if (!String.IsNullOrWhiteSpace(track.TranslatedTitle))
            {
            <p><span class="catnum">Translated Title </span>@T("{0}", track.TranslatedTitle)</p>
            }

            @if (!String.IsNullOrWhiteSpace(track.Abstract))
            {
            <p>@T("{0}", @Html.Raw(track.Abstract))</p>
            }

            @if (track.DiscNumber > 0)
            {
            <span class="catnum">Disc Number </span>@T("{0}", track.DiscNumber)<br />
            }

            @if (track.TrackNumber > 0)
            {
            <span class="catnum">Track Number </span>@T("{0}", track.TrackNumber)<br />
            }
            <!--
                @if (track.SequenceNumber > 0)
                {
                    <p><span class="catnum">Sequence Number: </span>@T("{0}", track.SequenceNumber)</p>
                }

                @if (track.NetsuiteNumber > 0)
                {
                    <p>@T("Netsuite ID: {0}", track.NetsuiteNumber)</p>
                }
                @if (track.Price != null)
                {
                    <p>@T("Price: {0}", track.Price.Value.ToString("c"))</p>
                }
                -->
            @if (track.Duration != null)
            {
            <span class="catnum">Duration </span>@T("{0}", track.Duration.FormatMinutesAndSeconds())<br />
            }

            @if (track.Countries.Any())
            {
            <span>
                <!--googleoff:all-->
                <span class="labels">Country(s)</span>
                <!--googleon:all-->
                @for (var i = 0; i < track.Countries.Count; i++)
                {
                var country = track.Countries[i];
                <a href="/search?query=@Url.Encode(country.Country.Name)">@country.Country.Name</a>if (i < track.Countries.Count - 1)
                {<span>; </span>}
                }
            </span><br />
            }

            @if (track.CultureGroups.Any())
            {
            <span>
                <span class="labels">Culture Group(s)</span>
                @for (var i = 0; i < track.CultureGroups.Count; i++)
                {
                var cultureGroup = track.CultureGroups[i];
                <a href="/search?query=@Url.Encode(cultureGroup.CultureGroup.Name)">@cultureGroup.CultureGroup.Name</a>if (i < track.CultureGroups.Count - 1)
                {<span>; </span>}
                }
            </span><br />
            }

            @if (instruments.Any())
            {
            <span>
                <span class="catnum">Instruments: </span>
                @for (var i = 0; i < instruments.Count; i++)
                {
                var instrument = instruments[i];
                <a href="/search?query=@Url.Encode(instrument.Name)">@instrument.Name</a>if (i < instruments.Count - 1)
                {<span>; </span>}
                }
            </span><br />

            }

            @if (track.Languages.Any())
            {
            <span>
                <span class="labels">Language(s)</span>
                @for (var i = 0; i < track.Languages.Count; i++)
                {
                var language = track.Languages[i];
                <a href="/search?query=@Url.Encode(language.Language.Name)">@language.Language.Name</a>if (i < track.Languages.Count - 1)
                {<span>; </span>}
                }
            </span><br />
            }

            @if (credits.Any())
            {
            var agentGroups = credits.Where(x => x.Agent != null).GroupBy(x => x.Agent);
            var alternateAgentNameGroups = credits.Where(x => x.Agent == null).GroupBy(x => x.AlternateAgentName);
            <span>
                <fieldset>
                    <span class="labels">Performer Credits</span>
                    <ul>
                        @foreach (var group in agentGroups)
                        {
                        var agent = group.Key;
                        var creditInstruments = String.Join("; ", group.Where(x => x.Instrument != null).Select(x => x.Instrument.Name));
                        <li>
                            @*@Html.AgentLink(agent)*@
                            <a href="/search?query=@Url.Encode(agent.Name)">@agent.Name</a>
                            @(!String.IsNullOrWhiteSpace(creditInstruments) ? T(" - {0}", creditInstruments) : T(" - performer"))
                        </li>
                        }
                        @foreach (var group in alternateAgentNameGroups)
                        {
                        var alternateAgentName = group.Key;
                        var creditInstruments = String.Join("; ", group.Where(x => x.Instrument != null).Select(x => x.Instrument.Name));
                        <li>
                            @*@alternateAgentName*@
                            <a href="/search?query=@Url.Encode(alternateAgentName)">@alternateAgentName</a>
                            @(!String.IsNullOrWhiteSpace(creditInstruments) ? T(" - {0}", creditInstruments) : T(" - performer"))
                        </li>
                        }
                    </ul>
                </fieldset>
            </span><br />
            }
        </div>
    </div>
    <!--DESKTOP-->
    <div class="col-md-4 col-sm-4 recording-details  hidden-xs" style="margin-left: -40px">
        <!-- PLAY BUTTON LIVE -->
        @if (track.Duration != null) { 
        <div class="play-track-sample-button">
            <div data-media="@Url.Content(String.Format("http://media.smithsonianfolkways.org/audio/samples/{0}/{1}/{2}.mp3", recordLabel.ShortName, album.CatalogNumber, track.FileName))"></div>
        </div> 
        }
        <!-- PLAY BUTTON BETA 
        <div class="play-track-sample-button">
            <div data-media="@Url.Content(String.Format("http://folk07.si.edu/audio/mp3.256/{0}/{1}/{2}.mp3", recordLabel.ShortName, album.CatalogNumber, track.FileName))"></div>
        </div> -->
        <div class="clear"></div>
        <!-- BUY TRACK BUTTON -->
        @if (track.ForSaleDigital)
        {
        <div class="buy-track-button">
            <div style="width: 100%; margin-top: 12px">
                <div style="display: inline">
                    <input type="submit" name="button" value="" onclick="javascript: addProduct('@track.NetsuiteNumber');" class="buy-button track" />
                    <!--form class="buy-form"
                          data-success-message="@T("The item was succesfully added to the cart.")"
                          name="@("form" + track.NetsuiteNumber)"
                          action="http://folkways-store.si.edu/app/site/query/additemtocart.nl?c=297799&amp;n=1&amp;ext=T" method="post">
                        <input type="hidden" name="buyid" value="@track.NetsuiteNumber">
                        <input type="hidden" name="c" value="297799">
                        <input type="hidden" name="n" value="1">
                        <input type="hidden" value="@Url.GetBuyButtonRedirectUrl()" name="redirect">
                        <input type="submit" value="" class="buy-button track">
                    </!--form-->

                </div>
                <div style="margin: 0 0 12px 20px; display: inline">
                    @track.Price.Value.ToString("c")
                </div>
            </div>
        </div>
        }
    </div>

</div>
<div style="clear:both"></div>

<div class="col-lg-12 hidden-xs" style="margin:20px 0 20px 0">
    <!-- LINE GRAPHIC -->
    <br />
    <img src="/images/index/thin-bar.gif" alt="" />
    <br />
</div>

<!--googleoff:all-->
<div class="col-md-8 col-sm-8 hidden-xs">
    <div id="album" class="recording-details">
        @*@if (album.StaffPick)
            {
            <p>
                <img alt="Staff Pick!" src="/Images/Index/staff-pick.png" />
                @T("Staff Pick!")
            </p>
            }*@
        <h1>@Html.Raw(album.Name)</h1>
        @if (!String.IsNullOrWhiteSpace(artistName))
        {
        if (album.Artist != null)
        {
        <h2>
            @*@T("{0}", Html.AgentLink(album.Artist))*@
            <a href="/search?query=@Url.Encode(album.Artist.Name)">@album.Artist.Name</a>
            <span class="catnum">
                @T(album.CatalogNumber)
                @if (!String.IsNullOrWhiteSpace(album.OriginalCatalogNumber))
                {
                @T("/ {0}", album.OriginalCatalogNumber)
                }
            </span>
        </h2>
        }
        else
        {
        <h2>
            @T("{0}", artistName)
            <span class="catnum">
                @T(album.CatalogNumber)
                @if (!String.IsNullOrWhiteSpace(album.OriginalCatalogNumber))
                {
                @T("/ {0}", album.OriginalCatalogNumber)
                }
            </span>
        </h2>
        }
        }
        <div class="recording-details">
            @if (album.Abstract != null)
            {
            <p>
                @T("{0}", @Html.Raw(album.Abstract))
            </p>
            }
            @*@if (album.RelatedContent != null)
                {
                <p>
                    @T(album.RelatedContent)
                </p>
                }*@
            @if (album.RelatedMedia != null)
            {
            <p>
                @T(album.RelatedMedia)
            </p>
            }
            @if (album.ReleaseDate != null)
            {
            <span class="labels">Year Released</span>
                @T("{0:yyyy}", album.ReleaseDate)<br />
            }
            @if (album.RecordingInfo != null)
            {
            @T("Recording Info: {0}", album.RecordingInfo)<br />
            }
            @*@if (album.NoOfDiscs != null)
                {
                    <p>
                        @T("Number of Discs: {0}", album.NoOfDiscs)
                    </p>
                }
                @if (album.NoOfTracks != null)
                {
                    <p>
                        @T("Number of Tracks: {0}", album.NoOfTracks)
                    </p>
                }
                @if (!String.IsNullOrWhiteSpace(album.TranslatedTitle))
                {
                    <p>
                        @T("Translated Title: {0}", album.TranslatedTitle)
                    </p>
                }*@
            @if (!String.IsNullOrWhiteSpace(album.RecordLabelName))
            {
            <span class="labels">Record Label</span>
                @T("{0}", album.RecordLabelName)<br />
            }
            @if (!String.IsNullOrWhiteSpace(album.SourceName))
            {
            <span class="labels">Source Archive</span>
                @T("{0}", album.SourceName)<br />
            }
            @if (!String.IsNullOrWhiteSpace(album.Copyright))
            {
            <p>
                <span class="labels">Copyright</span>
                @T("{0}", album.Copyright)
            </p>
            }
            @if (genres.Any())
            {
            @*<p>@T("{0}: {1}", field.DisplayName, String.Join(", ", genres.Select(x => x.Name)))</p>*@
                <span>
                    <span class="labels">Genre(s)</span>
                    @for (var i = 0; i < genres.Count; i++)
                    {
                    var genre = genres[i];
                    <a href="/search?query=@Url.Encode(genre.Name)">@genre.Name</a>if (i < genres.Count - 1)
                    {<span>; </span>}
                    }
                </span><br />

            }
            @if (countries.Any())
            {
            <span>
                <span class="labels">Country(s)</span>
                @for (var i = 0; i < countries.Count; i++)
                {
                var country = countries[i];
                <a href="/search?query=@Url.Encode(country.Name)">@country.Name</a>if (i < countries.Count - 1)
                {<span>; </span>}
                }
            </span><br />

            }
            @if (cultureGroups.Any())
            {
            <span>
                <span class="labels">Culture Group(s)</span>
                @for (var i = 0; i < cultureGroups.Count; i++)
                {
                var cultureGroup = cultureGroups[i];
                <a href="/search?query=@Url.Encode(cultureGroup.Name)">@cultureGroup.Name</a>if (i < cultureGroups.Count - 1)
                {<span>; </span>}
                }
            </span><br />
            }
            @if (instruments.Any())
            {
            <span>
                <span class="labels">Instrument(s)</span>
                @for (var i = 0; i < albumInstruments.Count; i++)
                {
                var instrument = albumInstruments[i];
                <a href="/search?query=@Url.Encode(instrument.Name)">@instrument.Name</a>if (i < albumInstruments.Count - 1)
                {<span>; </span>}
                }
            </span><br />
            }
            @if (languages.Any())
            {
            <span>
                <span class="labels">Language(s)</span>
                @for (var i = 0; i < languages.Count; i++)
                {
                var language = languages[i];
                <a href="/search?query=@Url.Encode(language.Name)">@language.Name</a>if (i < languages.Count - 1)
                {<span>; </span>}
                }
            </span><br />
            }
            @if (subjects.Any())
            {
            <span>
                <span class="labels">Subject(s)</span>
                @for (var i = 0; i < subjects.Count; i++)
                {
                var subject = subjects[i];
                <a href="/search?query=@Url.Encode(subject.Name)">@subject.Name</a>if (i < subjects.Count - 1)
                {<span>; </span>}
                }
            </span><br />
            }
            @if (creditsPart.Credits.Any())
            {
            var agentGroups = creditsPart.Credits.GroupBy(x => x.Agent);
            <span class="labels">Credits</span>
                <ul>
                    @foreach (var group in agentGroups)
                    {
                    var agent = group.Key;
                    var agentName = agent.Name;
                    var roles = String.Join("; ", group.Where(x => x.Role != null).Select(x => x.Role.Name));
                    <li>
                        @*@Html.ActionLink(agentName, "DetailsByName", "Agent", new { area = "Folkways.Collection", agentName }, null) - @roles*@
                        <a href="/search?query=@Url.Encode(agent.Name)">@agent.Name</a> - @roles
                    </li>
                    }
                </ul>
            }
            @if (!album.MissingLinerNotes)
            {
            <p>
                <a class="dlpdf" href="@Url.Content("http://media.smithsonianfolkways.org/liner_notes/" + recordLabel.ShortName + "/" + album.CatalogNumber + ".pdf")" target="_blank">Download Liner Notes <span></span></a>
            </p>
            }
            @if (tracks.Any())
            {
            <hr class="top-fifteen" />
                <img src="/images/index/track-listing.gif" width="134" height="10" alt="" class="head" />

                <table>
                    @foreach (var albumTrack in tracks)
                    {
                    var evenOddCss = albumTrack.SequenceNumber % 2 == 0 ? "even" : "odd";
                    var selectedCss = albumTrack.Id == track.Id ? "selected" : "";

                    <tr class="@evenOddCss @selectedCss">

                        <!-- PLAY BUTTON LIVE -->
                        @if (albumTrack.Duration != null) { 
                        <td class="album-track-play-button">
                            <div data-media="@Url.Content(String.Format("http://media.smithsonianfolkways.org/audio/samples/{0}/{1}/{2}.mp3", recordLabel.ShortName, album.CatalogNumber, albumTrack.FileName))"></div>
                            <div data-mobile="@Url.Content(String.Format("http://media.smithsonianfolkways.org/audio/samples/{0}/{1}/{2}.mp3", recordLabel.ShortName, album.CatalogNumber, albumTrack.FileName))"></div>
                        </td> 
                        }
                        <!-- PLAY BUTTON BETA 
                        <td class="album-track-play-button">
                            <div data-media="@Url.Content(String.Format("http://folk07.si.edu/audio/mp3.256/{0}/{1}/{2}.mp3", recordLabel.ShortName, album.CatalogNumber, albumTrack.FileName))"></div>
                            <div data-mobile="@Url.Content(String.Format("http://folk07.si.edu/audio/mp3.256/{0}/{1}/{2}.mp3", recordLabel.ShortName, album.CatalogNumber, albumTrack.FileName))"></div>
                        </td> -->
                        <!-- SEQUENCE NO. -->
                        <td class="album-track-sequence">@albumTrack.SequenceNumber</td>
                        <!-- TITLE -->
                        <td class="album-track-title"><strong>@Html.ActionLink(albumTrack.Title, "Details", "Track", new { area = "Folkways.Collection", Id = albumTrack.Id }, null)</strong></td>
                        <!-- ARTIST -->
                        <td class="album-track-artist">
                            @if (albumTrack.Artist != null)
                            {
                            @Html.AgentName(albumTrack.Artist)
                            }
                            else
                            {
                            @albumTrack.AlternateArtistName
                            }
                        </td>
                        <!-- DURATION -->
                        <td class="album-track-duration">@albumTrack.Duration.FormatMinutesAndSeconds()</td>
                        <!-- BUY BUTTON -->
                        <td class="buy-track">
                            @if (albumTrack.ForSaleDigital)
                            {
                             <input type="submit" name="button" value="" onclick="javascript: addProduct('@albumTrack.NetsuiteNumber');" class="buy-track" />
                            @*<form class="buy-form"
                                  data-success-message="@T("The item was succesfully added to the cart.")"
                                  name="@("form" + albumTrack.NetsuiteNumber)"
                                  action="http://folkways-store.si.edu/app/site/query/additemtocart.nl?c=297799&amp;n=1&amp;ext=T" method="post">
                                <input type="hidden" name="buyid" value="@albumTrack.NetsuiteNumber">
                                <input type="hidden" name="c" value="297799">
                                <input type="hidden" name="n" value="1">
                                <input type="hidden" value="@Url.GetBuyButtonRedirectUrl()" name="redirect">
                                <input type="submit" value="" class="buy-track">
                            </form>*@
                            }
                            else
                            {
                            <img src="/images/index/track_not_for_sale.gif" alt="Not Available for Download" />
                            }
                        </td>
                    </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>
<!--googleon:all-->
<div class="col-md-4 col-sm-4 hidden-xs">
    <div id="right-column-270">
        <center>
            @if (album.ImageGallery != null)
            {
            @T(album.ImageGallery)
            }
            else
            {
                <a href="@Url.ItemDisplayUrl(album)">
                    <img alt="@album.Name" src="@Url.Content("http://media.smithsonianfolkways.org/images/album_covers/SF270/" + album.CatalogNumber + ".jpg")" />
                    <p></p><br />
                </a>
            }
        </center>

        @if (products.Any())
        {
        foreach (var product in products)
        {

        if (product.ProductType.Name == "CD")
        {
        if (product.OutOfStock)
        {
        <div style="width:100%; margin-bottom:12px">
            <div style="display:inline">
                <img style="float:left; height: 20px; margin-right: 10px;width: 110px" src="/images/index/buy-cd-oos.gif" border="0">
            </div>
            <div style="margin: 0 0 12px 20px; display:inline">
                <strike>@product.Price.Value.ToString("c")</strike>&nbsp;Out of Stock
            </div>
        </div>
        }
        else
        {
        <div style="width:100%; margin-bottom:12px">
            <div style="display:inline">
                <form class="buy-form"
                      data-success-message="@T("The item was succesfully added to the cart.")"
                      name=@("form" + product.NetsuiteNumber)
                      action="http://folkways-store.si.edu/app/site/query/additemtocart.nl?c=297799&amp;n=1&amp;ext=T" method="post">
                    <input type="hidden" name="buyid" value="@product.NetsuiteNumber">
                    <input type="hidden" name="c" value="297799">
                    <input type="hidden" name="n" value="1">
                    <input type="hidden" value="@Url.GetBuyButtonRedirectUrl()" name="redirect">
                    <input type="submit" value="" class="buy-button cd">
                </form>
            </div>
            <div style="margin: 0 0 12px 20px; display:inline">
                @product.Price.Value.ToString("c")
            </div>
        </div>
        }
        }
        if (product.ProductType.Name == "Custom CD")
        {
        if (product.OutOfStock)
        {
        <div style="width:100%; margin-bottom:12px">
            <div style="display:inline">
                <img style="float:left; height: 20px; margin-right: 10px;width: 110px" src="/images/index/buy-ccd-oos.gif" border="0">
            </div>
            <div style="margin: 0 0 12px 20px; display:inline">
                <strike>@product.Price.Value.ToString("c")</strike>&nbsp;Out of Stock
            </div>
        </div>
        }
        else
        {
        <div style="width:100%; margin-bottom:12px">
            <div style="display:inline">
                <form class="buy-form"
                      data-success-message="@T("The item was succesfully added to the cart.")"
                      name=@("form" + product.NetsuiteNumber)
                      action="http://folkways-store.si.edu/app/site/query/additemtocart.nl?c=297799&amp;n=1&amp;ext=T" method="post">
                    <input type="hidden" name="buyid" value="@product.NetsuiteNumber">
                    <input type="hidden" name="c" value="297799">
                    <input type="hidden" name="n" value="1">
                    <input type="hidden" value="@Url.GetBuyButtonRedirectUrl()" name="redirect">
                    <input type="submit" value="" class="buy-button ccd">
                </form>
            </div>
            <div style="margin: 0 0 12px 20px; display:inline">
                @product.Price.Value.ToString("c")
            </div>
        </div>
        }
        }
        if (product.ProductType.Name == "Digital Download")
        {
        <div style="width:100%; margin-bottom:12px">
            <div style="display:inline">
                <form class="buy-form"
                      data-success-message="@T("The item was succesfully added to the cart.")"
                      name=@("form" + product.NetsuiteNumber)
                      action="http://folkways-store.si.edu/app/site/query/additemtocart.nl?c=297799&amp;n=1&amp;ext=T" method="post">
                    <input type="hidden" name="buyid" value="@product.NetsuiteNumber">
                    <input type="hidden" name="c" value="297799">
                    <input type="hidden" name="n" value="1">
                    <input type="hidden" value="@Url.GetBuyButtonRedirectUrl()" name="redirect">
                    <input type="submit" value="" class="buy-button download">
                </form>
            </div>
            <div style="margin: 0 0 12px 20px; display:inline">
                @product.Price.Value.ToString("c")
            </div>
        </div>
        }
        if (product.ProductType.Name == "Cassette")
        {
        if (product.OutOfStock)
        {
        <div style="width:100%; margin-bottom:12px">
            <div style="display:inline">
                <img style="float:left; height: 20px; margin-right: 10px;width: 110px" src="/images/index/buy-cassette-oos.gif" border="0">
            </div>
            <div style="margin: 0 0 12px 20px; display:inline">
                <strike>@product.Price.Value.ToString("c")</strike>&nbsp;Out of Stock
            </div>
        </div>
        }
        else
        {
        <div style="width:100%; margin-bottom:12px">
            <div style="display:inline">
                <form class="buy-form"
                      data-success-message="@T("The item was succesfully added to the cart.")"
                      name=@("form" + product.NetsuiteNumber)
                      action="http://folkways-store.si.edu/app/site/query/additemtocart.nl?c=297799&amp;n=1&amp;ext=T" method="post">
                    <input type="hidden" name="buyid" value="@product.NetsuiteNumber">
                    <input type="hidden" name="c" value="297799">
                    <input type="hidden" name="n" value="1">
                    <input type="hidden" value="@Url.GetBuyButtonRedirectUrl()" name="redirect">
                    <input type="submit" value="" class="buy-button cassette">
                </form>
            </div>
            <div style="margin: 0 0 12px 20px; display:inline">
                @product.Price.Value.ToString("c")
            </div>
        </div>
        }
        }
        if (product.ProductType.Name == "Custom Cassette")
        {
        if (product.OutOfStock)
        {
        <div style="width:100%; margin-bottom:12px">
            <div style="display:inline">
                <img style="float:left; height: 20px; margin-right: 10px;width: 110px" src="/images/index/buy-cassette-oos.gif" border="0">
            </div>
            <div style="margin: 0 0 12px 20px; display:inline">
                <strike>@product.Price.Value.ToString("c")</strike>&nbsp;Out of Stock
            </div>
        </div>
        }
        else
        {
        <div style="width:100%; margin-bottom:12px">
            <div style="display:inline">
                <form class="buy-form"
                      data-success-message="@T("The item was succesfully added to the cart.")"
                      name=@("form" + product.NetsuiteNumber)
                      action="http://folkways-store.si.edu/app/site/query/additemtocart.nl?c=297799&amp;n=1&amp;ext=T" method="post">
                    <input type="hidden" name="buyid" value="@product.NetsuiteNumber">
                    <input type="hidden" name="c" value="297799">
                    <input type="hidden" name="n" value="1">
                    <input type="hidden" value="@Url.GetBuyButtonRedirectUrl()" name="redirect">
                    <input type="submit" value="" class="buy-button cassette">
                </form>
            </div>
            <div style="margin: 0 0 12px 20px; display:inline">
                @product.Price.Value.ToString("c")
            </div>
        </div>
        }
        }
        if (product.ProductType.Name == "LP")
        {
        if (product.OutOfStock)
        {
        <div style="width:100%; margin-bottom:12px">
            <div style="display:inline">
                <img style="float:left; height: 20px; margin-right: 10px;width: 110px" src="/images/index/buy-vinyl-oos.gif" border="0">
            </div>
            <div style="margin: 0 0 12px 20px; display:inline">
                <strike>@product.Price.Value.ToString("c")</strike>&nbsp;Out of Stock
            </div>
        </div>
        }
        else
        {
        <div style="width:100%; margin-bottom:12px">
            <div style="display:inline">
                <form class="buy-form"
                      data-success-message="@T("The item was succesfully added to the cart.")"
                      name=@("form" + product.NetsuiteNumber)
                      action="http://folkways-store.si.edu/app/site/query/additemtocart.nl?c=297799&amp;n=1&amp;ext=T" method="post">
                    <input type="hidden" name="buyid" value="@product.NetsuiteNumber">
                    <input type="hidden" name="c" value="297799">
                    <input type="hidden" name="n" value="1">
                    <input type="hidden" value="@Url.GetBuyButtonRedirectUrl()" name="redirect">
                    <input type="submit" value="" class="buy-button vinyl">
                </form>
            </div>
            <div style="margin: 0 0 12px 20px; display:inline">
                @product.Price.Value.ToString("c")
            </div>
        </div>
        }
        }
        if (product.ProductType.Name == "Box Set")
        {
        if (product.OutOfStock)
        {
        <div style="width:100%; margin-bottom:12px">
            <div style="display:inline">
                <img style="float:left; height: 20px; margin-right: 10px;width: 110px" src="/images/index/buy-box-oos.gif" border="0">
            </div>
            <div style="margin: 0 0 12px 20px; display:inline">
                <strike>@product.Price.Value.ToString("c")</strike>&nbsp;Out of Stock
            </div>
        </div>
        }
        else
        {
        <div style="width:100%; margin-bottom:12px">
            <div style="display:inline">
                <form class="buy-form"
                      data-success-message="@T("The item was succesfully added to the cart.")"
                      name=@("form" + product.NetsuiteNumber)
                      action="http://folkways-store.si.edu/app/site/query/additemtocart.nl?c=297799&amp;n=1&amp;ext=T" method="post">
                    <input type="hidden" name="buyid" value="@product.NetsuiteNumber">
                    <input type="hidden" name="c" value="297799">
                    <input type="hidden" name="n" value="1">
                    <input type="hidden" value="@Url.GetBuyButtonRedirectUrl()" name="redirect">
                    <input type="submit" value="" class="buy-button box">
                </form>
            </div>
            <div style="margin: 0 0 12px 20px; display:inline">
                @product.Price.Value.ToString("c")
            </div>
        </div>
        }
        }
        }
        }
    </div>

</div>
