@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix)
    {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    /* Global includes for the theme
    ***************************************************************/

    SetMeta(httpEquiv: "X-UA-Compatible", content: "IE=edge,chrome=1");


    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Layout classification based on filled zones
    ***************************************************************/

    //Add classes to the wrapper div to toggle aside widget zones on and off
    var asideClass = CalcuClassify(new[] { "AsideFirst", "AsideSecond" }, "aside-"); // for aside-1, aside-2 or aside-12 if any of the aside zones are filled
    if (HasText(asideClass))
    {
        Model.Classes.Add(asideClass);
    }

    //Add classes to the wrapper div to toggle tripel widget zones on and off
    var tripelClass = CalcuClassify(new[] { "TripelFirst", "TripelSecond", "TripelThird" }, "tripel-"); // for tripel-1, triple-2, etc. if any of the tripel zones are filled
    if (HasText(tripelClass))
    {
        Model.Classes.Add(tripelClass);
    }

    //Add classes to the wrapper div to toggle quad widget zones on and off
    var footerQuadClass = CalcuClassify(new[] { "FooterQuadFirst", "FooterQuadSecond", "FooterQuadThird", "FooterQuadFourth" }, "split-"); // for quad-1, quad-2, etc. if any of the quad zones are filled
    if (HasText(footerQuadClass))
    {
        Model.Classes.Add(footerQuadClass);
    }

    /* Inserting some ad hoc shapes
    ***************************************************************/

    //WorkContext.Layout.Header.Add(New.Branding(), "5"); // Site name and link to the home page
    //WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    //WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/

    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
@tag.StartElement

<body class="folkways-site home-page">
    <a href="#main-content" class="skip-main">Skip to main content</a>
    @Zone(Model.Header)
    <!-- Navbar-->
    <nav id="navbar" class="navbar">
        <!-- Navbar outside is a click area to close open nav-->
        <div class="navbar-outside"></div>
        <div class="navbar-header container">
            <div class="ul row">
                <!-- Logo-->
                <div class="logo-wrapper col-sm-2">
                    <div id="logo" class="logo">
                        <div class="one-line-logos">
                            <a href="/" tabindex="-1">
                                <img src="/themes/folkways/assets/images/logo/folkways_oneLine_160.png" alt="Folkways Logo" class="one-line-logo mobile-one-line-logo visible-xs" />
                                <img src="/themes/folkways/assets/images/logo/folkways_oneLine_224.png" alt="Folkways Logo" class="one-line-logo tablet-one-line-logo visible-sm visible-md" />
                                <img src="/themes/folkways/assets/images/logo/folkways_oneLine_258.png" alt="Folkways Logo" class="one-line-logo desktop-one-line-logo visible-lg" />
                            </a>
                        </div>
                        <div class="block-logos">
                            <a href="/">
                                <img src="/themes/folkways/assets/images/logo/folkways_logo_200x200.png" alt="Folkways Logo" class="block-logo mobile-block-logo visible-xs visible-sm" />
                                <img src="/themes/folkways/assets/images/logo/folkways_logo_280x280.png" alt="Folkways Logo" class="block-logo tablet-block-logo visible-md" />
                                <img src="/themes/folkways/assets/images/logo/folkways_logo_320x320.png" alt="Folkways Logo" class="block-logo desktop-block-logo visible-lg" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="folkways-nav col-sm-3">
                    <a href="/explore/smithsonian">Explore</a><a href="/learn/smithsonian">Learn</a><a href="/join/smithsonian">Join</a><a href="/shop/smithsonian">Shop</a>
                </div>
                <!-- Search Bar-->
                <form action="/search" class="search-bar desktop-search-bar col-sm-offset-1 col-sm-5 col-md-5 col-md-offset-1 col-lg-offset-2 col-lg-6">
                    <input id="search-input" placeholder="Search..." type="search" name="q" value="" />
                </form>
                <!-- Main Navigation Icons-->
                <div class="nav-icons col-sm-3 col-lg-2">
                    <div id="menu-icon" aria-hidden="true" title="menu" tabindex="0" class="icon-menu nav-icon main-nav-icon"></div>
                    <div id="share-icon" aria-hidden="true" title="share" tabindex="0" class="icon-share nav-icon main-nav-icon"></div>
                    <div id="search-icon" aria-hidden="true" title="search" tabindex="0" class="icon-search nav-icon main-nav-icon"></div>
                </div>
            </div>
        </div>
        <!-- Full Navigation Dropdown-->
        @Zone(Model.Navigation)
    </nav><!-- End Navbar-->

    @Zone(Model.Content)

    @Zone(Model.AfterMain)
</body>
<footer id="footer" class="footer">
    <div class="container">
        @Zone(Model.Footer)
    </div>
</footer>

<!-- Remodal for video popup-->
<div data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <ul class="remodal-gallery"></ul>
    <ul class="remodal-captions"></ul>
    <!-- Vimeo iframe target get child-->
    <div id="vimeo-iframe" class="remodal-iframe"></div>
    <!-- YouTube iframe gets replaced-->
    <div id="youtube-iframe-wrapper" class="remodal-iframe">
        <div id="youtube-iframe"></div>
    </div>
    <div class="remodal-copy">
        <h3 class="remodal-title">.</h3>
        <div class="remodal-description">
            <p></p>
        </div>
    </div>
</div>
@tag.EndElement
