@using System.Security.Policy
@using Bootstrap.Html
@using Folkways.Collection.Helpers
@using Folkways.Collection.Models

@{
    var albumPart = (AlbumPart) Model.ContentPart;
    var tracks = albumPart.Tracks.ToList();
    var recordLabel = albumPart.RecordLabel ?? RecordLabel.Empty;
}
@if (tracks.Any()) 
{
    <hr class="top-fifteen" />
    <img src="/images/index/track-listing.gif" width="134" height="10" alt="" class="head" />
    
    <table>
        @foreach (var track in tracks) {
            var trCssClass = track.SequenceNumber%2 == 0 ? "even" : "odd";

            <tr class="@trCssClass">
                
                <!-- PLAY BUTTON LIVE 
                <td class="album-track-play-button">
                    <div data-media="@Url.Content(String.Format("http://media.smithsonianfolkways.org/audio/samples/{0}/{1}/{2}.mp3", recordLabel.ShortName, albumPart.CatalogNumber, track.FileName))"></div>
                    <div data-mobile="@Url.Content(String.Format("http://media.smithsonianfolkways.org/audio/samples/{0}/{1}/{2}.mp3", recordLabel.ShortName, albumPart.CatalogNumber, track.FileName))"></div>
                </td> -->
                <!-- PLAY BUTTON BETA -->
                <td class="album-track-play-button">
                    <div data-media="@Url.Content(String.Format("http://folk07.si.edu/audio/mp3.256/{0}/{1}/{2}.mp3", recordLabel.ShortName, albumPart.CatalogNumber, track.FileName))"></div>
                    <div data-mobile="@Url.Content(String.Format("http://folk07.si.edu/audio/mp3.256/{0}/{1}/{2}.mp3", recordLabel.ShortName, albumPart.CatalogNumber, track.FileName))"></div>
                </td> 
                <!-- SEQUENCE NO. -->
                <td class="album-track-sequence">@track.SequenceNumber</td>
                <!-- TITLE -->
                <td class ="album-track-title"><strong>@Html.ActionLink(track.Title, "Details", "Track", new { area = "Folkways.Collection", Id = track.Id }, null)</strong></td>
                <!-- ARTIST -->
                <td class="album-track-artist">
                    @if (track.Artist != null) {
                        @Html.AgentName(track.Artist)
                    }
                    else {
                        @track.AlternateArtistName
                    }
                </td>
                <!-- DURATION -->
                <td class="album-track-duration">@track.Duration.FormatMinutesAndSeconds()</td>
                <!-- BUY BUTTON -->
                <td class="buy-track">
                    @if (track.ForSaleDigital)
                    {
                    <form class="buy-form"
                          data-success-message="@T("The item was succesfully added to the cart.")"
                          name="@("form" + track.NetsuiteNumber)"
                          action="http://folkways-store.si.edu/app/site/query/additemtocart.nl?c=297799&amp;n=1&amp;ext=T" method="post">
                        <input type="hidden" name="buyid" value="@track.NetsuiteNumber">
                        <input type="hidden" name="c" value="297799">
                        <input type="hidden" name="n" value="1">
                        <input type="hidden" value="@Url.GetBuyButtonRedirectUrl()" name="redirect">
                        <input type="submit" value="" class="buy-track">
                    </form>

                    }
                    else {
                        <img src="/images/index/track_not_for_sale.gif" alt="Not Available for Download" />
                    }
                </td>
            </tr>
        }
    </table>
}