@using System.Security.Policy
@using Folkways.Collection.Helpers
@using Folkways.Collection.Models

@{
    var albumPart = (AlbumPart)Model.ContentPart;
    var tracks = albumPart.Tracks.ToList();
    var recordLabel = albumPart.RecordLabel ?? RecordLabel.Empty;
}
@if (tracks.Any())
{
    <h2 class="track-listing-title">Track Listing</h2>
    <div class="table-responsive">
        <table class="table table-hover track-listing">
            @foreach (var track in tracks)
            {
                <tr class="track">
                    <!-- SEQUENCE NUMBER / PLAY BUTTON -->
                    <td class="track-number-play-button">
                        <div class="track-number">
                            @track.SequenceNumber
                        </div>
                        <audio class="track-audio" src="@Url.Content(String.Format("http://media.smithsonianfolkways.org/audio/samples/{0}/{1}/{2}.mp3", recordLabel.ShortName, albumPart.CatalogNumber, track.FileName))">
                    </td>
                    <!-- TITLE -->
                    <td class="track-title no-underline">@Html.ActionLink(track.Title, "Details", "Track", new { area = "Folkways.Collection", Id = track.Id }, null)</td>
                    <!-- ARTIST -->
                    <td class="track-artist">
                        @if (track.Artist != null)
                        {
                            @Html.AgentName(track.Artist)
                        }
                        else
                        {
                            @track.AlternateArtistName
                        }
                    </td>
                    <!-- DURATION -->
                    <td class="track-length">@track.Duration.FormatMinutesAndSeconds()</td>
                    <!-- BUY BUTTON -->
                    <td class="track-buy">
                        <div class="button" style="padding:0 15px 0 15px">
                            <div class="button-inner">
                                <span class="title">
                                    @if (track.ForSaleDigital)
                                    {
                                        <input type="submit" name="button" value="BUY" style="padding:3px" onclick="javascript: addProduct('@track.NetsuiteNumber');" />

                                    }
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
</div>
}
