@using System.Security.Policy
@using Folkways.Collection.Helpers
@using Orchard.ContentManagement
@using Orchard.ContentManagement.MetaData.Models
@using Folkways.Collection.Models
@{
    var relatedItemsDictionary = (IDictionary<ContentTypeDefinition, IList<ContentItem>>)Model.RelatedItems;
    var hasAnyItems = (from entry in relatedItemsDictionary where entry.Value.Any() select entry).Any();
    var contentItem = Model.ContentItem;
    var hideFolkwaysSuggestsPart = contentItem.HideFolkwaysSuggestsPart;
}
@if (hasAnyItems && hideFolkwaysSuggestsPart.HideFolkwaysSuggests == false)
{
    <!--googleoff:all-->
        <div class="row">
            <dv id="album-info" class="album-info col-sm-12">
                <h3 class="sidebar-section-title">Folkways Suggests</h3>

                @foreach (var key in relatedItemsDictionary.Keys)
                {
                    var contentTypeDefinition = key;
                    var relatedItems = relatedItemsDictionary[key];
                    var contentTypeName = contentTypeDefinition.DisplayName;

                    if (relatedItems.Any())
                    {
                        if (contentTypeName == "Album")
                        {
                        <div class="button" role="tab" id="headingAlbums">
                            <div class="button-inner album-sidebar-tab" data-toggle="collapse" data-parent="album-info" href="#collapseAlbums" aria-expanded="true" aria-controls="collapseAlbums">
                                ALBUMS
                                <div aria-hidden="true" class="icon-right-open-mini"></div>
                            </div>
                        </div>
                        <ul id="collapseAlbums" class="row collapse suggested-items" role="tabpanel" aria-labelledby="headlineAlbums">
                            @foreach (var relatedItem in relatedItems)
                            {
                                var albumPart = relatedItem.As<AlbumPart>();
                                <li class="card horizontal-card col-xs-6 col-sm-12 suggested-item sidebar-card top-border-card">
                                    <div class="row">
                                        <div class="image col-sm-6">
                                            <a href="@Url.ItemDisplayUrl(relatedItem)"><img title="@Html.ItemDisplayText(relatedItem)" alt="@Html.ItemDisplayText(relatedItem)" src="@Url.Content("http://media.smithsonianfolkways.org/images/album_covers/SF270/" + albumPart.CatalogNumber + ".jpg")" /></a>
                                        </div>
                                        <div class="details col-sm-6">
                                            <div class="details-inner">
                                                @*<div class="tag">
                                                    From the Archives
                                                </div>*@
                                                <a href="@Url.ItemDisplayUrl(relatedItem)" class="high title">
                                                    <span class="light">
                                                        <span class="er">
                                                            @Html.Raw(HttpUtility.HtmlDecode(Html.ItemDisplayText(relatedItem).ToString().Truncate(67)))
                                                        </span>
                                                    </span>
                                                </a>
                                                <div class="artist">
                                                    <p>@Html.Raw(albumPart.GetArtistName().Truncate(33))</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            </ul>
                        }
                        if (contentTypeName == "Video")
                        {
                            <div class="button" role="tab" id="headingVideos">
                                <div class="button-inner album-sidebar-tab" data-toggle="collapse" data-parent="album-info" href="#collapseVideos" aria-expanded="true" aria-controls="collapseVideos">
                                    VIDEOS
                                    <div aria-hidden="true" class="icon-right-open-mini"></div>
                                </div>
                            </div>
                            <ul id="collapseVideos" class="row collapse suggested-items in" role="tabpanel" aria-labelledby="headlineVideos">
                                @foreach (var relatedItem in relatedItems)
                            {
                                var moviePart = relatedItem.As<MoviePart>();
                                    <li class="card horizontal-card col-xs-6 col-sm-12 suggested-item sidebar-card top-border-card">
                                        <div class="row">
                                            <div class="image col-sm-6">
                                                <a href="@Url.ItemDisplayUrl(relatedItem)"><img title="@Html.ItemDisplayText(relatedItem)" alt="@Html.ItemDisplayText(relatedItem)" src="@Url.Content("http://media.smithsonianfolkways.org/images/video_thumbs/" + moviePart.CatalogNumber + ".jpg")" /></a>
                                            </div>
                                            <div class="details col-sm-6">
                                                <div class="details-inner">
                                                    <a href="@Url.ItemDisplayUrl(relatedItem)" class="high title">
                                                        <span class="light">
                                                            <span class="er">
                                                                @Html.Raw(HttpUtility.HtmlDecode(Html.ItemDisplayText(relatedItem).ToString().Truncate(67)))
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                        if (contentTypeName == "Playlist")
                        {
                                <div class="button" role="tab" id="headingPlaylists">
                                    <div class="button-inner album-sidebar-tab" data-toggle="collapse" data-parent="album-info" href="#collapsePlaylists" aria-expanded="true" aria-controls="collapsePlaylists">
                                        PLAYLIST
                                        <div aria-hidden="true" class="icon-right-open-mini"></div>
                                    </div>
                                </div>
                                <ul id="collapsePlaylists" class="row collapse suggested-items in" role="tabpanel" aria-labelledby="headlinePlaylists">
                                    @foreach (var relatedItem in relatedItems)
                                    {
                                        var playlistPart = relatedItem.As<PlaylistPart>();
                                        <li class="card horizontal-card col-xs-6 col-sm-12 suggested-item sidebar-card top-border-card">
                                            <div class="row">
                                                <div class="image col-sm-6">
                                                    <a href="@Url.ItemDisplayUrl(relatedItem)"><img title="@Html.ItemDisplayText(relatedItem)" alt="@Html.ItemDisplayText(relatedItem)" src="@Url.Content("http://media.smithsonianfolkways.org/images/playlist_thumbs/" + playlistPart.CatalogNumber + ".jpg")" /></a>
                                                </div>
                                                <div class="details col-sm-6">
                                                    <div class="details-inner">
                                                        <div class="tag">
                                                            From the Archives
                                                        </div>
                                                        <a href="@Url.ItemDisplayUrl(relatedItem)" class="high title">
                                                            <span class="light">
                                                                <span class="er">
                                                                    @Html.Raw(HttpUtility.HtmlDecode(Html.ItemDisplayText(relatedItem).ToString().Truncate(67)))
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                        }
                        if (contentTypeName == "Page")
                        {
                                    <div class="button" role="tab" id="headingArticles">
                                        <div class="button-inner album-sidebar-tab" data-toggle="collapse" data-parent="album-info" href="#collapseArticles" aria-expanded="true" aria-controls="collapseArticles">
                                            ARTICLES
                                            <div aria-hidden="true" class="icon-right-open-mini"></div>
                                        </div>
                                    </div>
                                    <ul id="collapseArticles" class="row collapse suggested-items in" role="tabpanel" aria-labelledby="headlineArticles">
                                        @foreach (var relatedItem in relatedItems)
                                        {
                                            var pagePart = relatedItem.As<PagePart>();
                                            <li class="card horizontal-card col-xs-6 col-sm-12 suggested-item sidebar-card top-border-card">
                                                <div class="row">
                                                    <div class="image col-sm-6">
                                                        <a href="@Url.ItemDisplayUrl(relatedItem)"><img title="@Html.ItemDisplayText(relatedItem)" alt="@Html.ItemDisplayText(relatedItem)" src="@Url.Content("http://media.smithsonianfolkways.org/images/page_thumbs/" + pagePart.CatalogNumber + ".jpg")" /></a>
                                                    </div>
                                                    <div class="details col-sm-6">
                                                        <div class="details-inner">
                                                            <div class="tag">
                                                                From the Archives
                                                            </div>
                                                            <a href="@Url.ItemDisplayUrl(relatedItem)" class="high title">
                                                                <span class="light">
                                                                    <span class="er">
                                                                        @Html.Raw(HttpUtility.HtmlDecode(Html.ItemDisplayText(relatedItem).ToString().Truncate(67)))
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                        }
                        if (contentTypeName == "Lesson Plan")
                        {
                                        <div class="button" role="tab" id="headingLessonPlans">
                                            <div class="button-inner album-sidebar-tab" data-toggle="collapse" data-parent="album-info" href="#collapseLessonPlans" aria-expanded="true" aria-controls="collapseLessonPlans">
                                                LESSON PLANS
                                                <div aria-hidden="true" class="icon-right-open-mini"></div>
                                            </div>
                                        </div>
                                        <ul id="collapseLessonPlans" class="row collapse suggested-items in" role="tabpanel" aria-labelledby="headlineLessonPlans">
                                            @foreach (var relatedItem in relatedItems)
                                            {
                                                var lessonPlanPart = relatedItem.As<LessonPlanPart>();
                                                <li class="card horizontal-card col-xs-6 col-sm-12 suggested-item sidebar-card top-border-card">
                                                    <div class="row">
                                                        <div class="image col-sm-6">
                                                            <a href="@Url.ItemDisplayUrl(relatedItem)"><img title="@Html.ItemDisplayText(relatedItem)" alt="@Html.ItemDisplayText(relatedItem)" src="@Url.Content("http://media.smithsonianfolkways.org/images/lesson_plan_thumbs/" + lessonPlanPart.CatalogNumber + ".jpg")" /></a>
                                                        </div>
                                                        <div class="details col-sm-6">
                                                            <div class="details-inner">
                                                                <a href="@Url.ItemDisplayUrl(relatedItem)" class="high title">
                                                                    <span class="light">
                                                                        <span class="er">
                                                                            @Html.Raw(HttpUtility.HtmlDecode(Html.ItemDisplayText(relatedItem).ToString().Truncate(67)))
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    }
                                }
                            }
                        </div>
                <!--googleon:all-->
                }
